{% extends 'user/user-base.html' %}
{% block title %}Account Statement{% endblock %}
{% block content %}
<div class="container">
    <div class="card responsive-width  mx-auto">
    <div class="card-header text-center">
      Transaction made against your account
    </div>
    <div class="card-body overflow-auto">
      <div id="list-group rounded-0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Date / Time</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{% if obj.sent_from.user == request.user or obj.get_type == "withdraw" %}-{% else %}{% endif %}{{obj.amount}}.00</td>
              <td>{{obj.description}}</td>
              <td>{{obj.get_type|default:"transfer"}}</td>
              <td>{{obj.date_created}}</td>
            </tr>
            {% empty %}
            <div class='text-center'><small class='text-muted'><i>No Transaction has been made yet.</i></small></div>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-muted">
     Banking
    </div>
  </div>
{% endblock %}