{% extends 'user/user-base.html' %}
{% block content %}
<div class="container">
    <div class="card  w-75 mx-auto">
    <div class="card-header text-center">
      Funds Transfer
    </div>
    <div class="card-body">
        <form method="get">
            <div class="alert alert-success w-50 mx-auto">
              <h5>New Transfer</h5>
              <input type="text" name="acc_no" class="form-control " placeholder="Enter Receiver Account number" required>
              <button type="submit" class="btn btn-primary btn-bloc btn-sm my-1">Get Account Info</button>
            </div>
        </form>
        {% if account %}
        <div class='alert alert-success w-50 mx-auto'>
            <form method='POST'>
                {% csrf_token %}
              Account No.
              <input type='text' value='{{account.account_number}}' name='otherNo' class='form-control ' readonly required>
              Account Holder Name.
              <input type='text' class='form-control' value='{{account.first_name}} {{account.last_name}}' readonly required>
              Account Holder Bank Name.
              <input type='text' class='form-control' value='{{account.bank|default:"Banking"}}' readonly required>
              Enter Amount for transfer.
              <input type="hidden" name="account_id" value="{{account.id}}">
              <input type='number' name='amount' class='form-control' min='1' max='{{request.user.account.balance}}' required>
              Narration.
              <textarea name="description" class="form-control input-sm" rows="3" ></textarea>
              <button type='submit' name='transfer' class='btn btn-primary btn-bloc btn-sm my-1'>Transfer</button>
            </form>
          </div>
        {% endif %}
        
      <br>
      <h5>Transfer History</h5>
      <div id="list-group rounded-0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Date / Time</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in transfers %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{% if obj.sent_from.user == request.user %}-{% endif %}{{obj.amount}}.00</td>
              <td>{{obj.description}}</td>
              <td>{{obj.get_type|default:"transfer"}}</td>
              <td>{{obj.date_created}}</td>
            </tr>
            {% empty %}
            <div class='text-center'><small class='text-muted'><i>No Transfer has been made yet.</i></small></div>
          {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>
    <div class="card-footer text-muted">
     Banking
    </div>
  </div>
  
  </div>
{% endblock %}