{% extends 'base.html' %}
{% block body %}

<div style="background-size: 100%" class="bg-gradient-seconday">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
 <a class="navbar-brand" href="#">
    <img src="images/logo.png" style="object-fit:cover;object-position:center center" width="30" height="30" class="d-inline-block align-top" alt="">
   <!--  <i class="d-inline-block  fa fa-building fa-fw"></i> -->Banking
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'user-index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">  <a class="nav-link" href="{% url 'user-account' %}">Accounts</a></li>
      <li class="nav-item ">  <a class="nav-link" href="{% url 'user-statement' %}">Account Statements</a></li>
      <li class="nav-item active">  <a class="nav-link" href="{% url 'user-transfer' %}">Funds Transfer</a></li>
      <!-- <li class="nav-item ">  <a class="nav-link" href="profile.php">Profile</a></li> -->


    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a href="javascript:void(0)" class="btn btn-outline-primary" data-toggle="tooltip" title="Your current Account Balance">Account Balance : USD {{request.user.account.balance}}</a>  
        <a href="{% url 'user-account' %}" data-toggle="tooltip" title="Account Summary" class="btn btn-outline-info mx-1" ><i class="fa fa-book fa-fw"></i></a> 
        <a href="{% url 'user-notification' %}" data-toggle="tooltip" title="View Notice" class="btn btn-outline-info mx-1" ><i class="fa fa-envelope fa-fw"></i></a> 
        <a href="{% url 'user-feedback' %}" data-toggle="tooltip" title="Help?" class="btn btn-outline-info mx-1" ><i class="fa fa-question fa-fw"></i></a> 
        <a href="{% url 'user-logout' %}" data-toggle="tooltip" title="Logout" class="btn btn-outline-danger mx-1" ><i class="fa fa-sign-out fa-fw"></i></a>    
    </form>
  </div>
</nav><br><br><br>
{% for message in messages %}
  <div class="message-box">
    <div class='alert alert-{{message.tags}} alert-dismiss'>{{message}}</div>
  </div>
  {% endfor %}
{% block content %}

{% endblock %}
</div>
{% endblock %}