{% extends 'base.html' %}
{% block body %}
<div style="background-size: 100%" class="bg-gradient-seconday">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
 <a class="navbar-brand" href="{% url 'manager-index' %}">
    <img src="images/logo.png" style="object-fit:cover;object-position:center center" width="30" height="30" class="d-inline-block align-top" alt="">
   Banking
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == '/manager' %}active{% endif %}">
        <a class="nav-link" href="{% url 'manager-index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == '/manager/staffs' %}active{% endif %}">  <a class="nav-link" href="{% url 'manager-staff-list' %}">Accounts</a></li>
      <li class="nav-item {% if request.path == '/manager/account/add' %}active{% endif %}">  <a class="nav-link" href="{% url 'manager-account-add' %}">Add New Account</a></li>
      <li class="nav-item {% if request.path == '/manager/feedbacks' %}active{% endif %}">  <a class="nav-link" href="{% url 'manager-feedbacks' %}">Feedback</a></li>
      <!-- <li class="nav-item ">  <a class="nav-link" href="transfer.php">Funds Transfer</a></li> -->
      <!-- <li class="nav-item ">  <a class="nav-link" href="profile.php">Profile</a></li> -->


    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary">Welcome Manager</button>
        <a href="{% url 'logout' %}" data-toggle="tooltip" title="Logout" class="btn btn-outline-danger mx-1" ><i class="fa fa-sign-out fa-fw"></i></a>    
    </form>
    
  </div>
</nav><br><br><br>

  {% for message in messages %}
  <div class="message-box">
    <div class='alert alert-{{message.tags}} alert-dismiss'>{{message}}</div>
  </div>
  {% endfor %}
{% block content %}

{% endblock %}
{% endblock %}