{% extends 'manager/manager-base.html' %}
{% block title %}All Staff Accounts{% endblock %}
{% block content %}
<div class="container">
    <div class="card w-100 text-center shadowBlue">
      <div class="card-header">
        All Staff Accounts <button class="btn btn-outline-info btn-sm float-right" data-toggle="modal" data-target="#exampleModal">Add New Account</button>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Email</th>
              <th>Account Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
                <tr>
                <td>{{obj.email}}</td>
                <td>{{obj.usertype}}</td>
                 <td><a href="javascript:void(0)" class='btn btn-danger btn-sm' onclick="deleteuser('{{obj.id}}')" data-toggle="modal" data-target="#staticBackdrop" title="Delete this staff account">Delete</a></td>
                </tr>
            {% empty %}
            <p class="jumbotron text-center">NO STAFF</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
       Banking
      </div>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Cashier Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form method="POST" action="{% url 'manager-staff-add' %}">
                {% csrf_token %}
              <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input class="form-control" type="email" name="email" id="email" required placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input class="form-control" type="password" name="password" id="password" required placeholder="Password">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="saveAccount" class="btn btn-primary">Save Account</button>
          </form>
          </div>
        </div>
      </div>
      <!-- Delete Modal -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Delete Staff</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              {% csrf_token %}
            <div class="modal-body">
              Do you want to delete this staff account?
              <input type="password" name="password" placeholder="Enter Password to Confirm" class="form-control mt-1" required>
              <input type="hidden" name="acc_id" value="" id="accountId">
            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              
              
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block extrascript %}
<script>
  function deleteuser(value){
    document.getElementById("accountId").value = value;
  }
</script>
{% endblock %}