{% extends 'home/base.html' %}
{% block title %}Accessibility{% endblock %}
{% block content %}
<div class="l-container">

  

        




<div class="hero__basic basic-page content ">
  
  
    
  <h1 class="basic-title" property="schema:name"><span property="schema:name">Our Commitment to Accessibility</span>
</h1>
    
  
</div>
    
    
      
  <section class="section">
    <main role="main">
              <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      

      <div class="columns is-centered">
                                                                      <div class="main-content column">
            
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      


<article data-history-node-id="504" role="article" about="/accessibility" typeof="schema:WebPage" class="content page basic-page full clearfix">

  
      <span property="schema:name" content="Our Commitment to Accessibility" class="hidden"></span>


  
  <div>
    

          <div>
                      <div>  <div id="section-1024" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><p>We are committed to making our website usable and inclusive to all people. In creating and updating our website, we strive to make sure it is compatible with accessibility assistance software and tools.</p>


</div>
  </div>
          
      </div>
</div>
  
                      <div>  <div id="section-1026" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><p><strong>Our commitment to help</strong></p>
<p>If you have specific questions, concerns, or are experiencing difficulties accessing our site, reach out to VACU’s Member Services at 804-323-6800.</p>


</div>
  </div>
          
      </div>
</div>
  
                      <div>  <div id="section-1027" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><p><strong>Third-party applications</strong></p>
<p>Our website links to many third-party sites, some affiliated to VACU and others, such as social media pages, that are not. Many of these sites are not controlled by VACU and therefore we cannot control the way content is displayed on these sites.</p>


</div>
  </div>
          
      </div>
</div>
  
          </div>
      
  </div>

</article>

  </div>


          </div>
        
      </div>

    </main>
  </section>

  </div>
{% endblock %}