{% extends 'home/base.html' %}
{% load static %}
{% block title %}Become a Member{% endblock %}
{% block content %}
<section class="o-hero o-hero--has-ribbon-top o-hero--style--landing">
  
  

      <div class="o-hero__ribbon">
              <svg viewbox="0 0 1440 75" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMinYMin">
  <defs>
    <linearGradient x1="41.452%" y1="104.317%" x2="45.25%" y2="67.059%" id="a-green-sm">
      <stop stop-color="#579904" offset="0%"></stop>
      <stop stop-color="#95C623" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="174.28%" x2="50%" y2="-91.82%" id="b-green-sm">
      <stop stop-color="#579904" offset="0%"></stop>
      <stop stop-color="#95C623" offset="100%"></stop>
    </linearGradient>
  </defs>
  <g fill-rule="nonzero" fill="none">
    <path transform="rotate(-109 568.568 241.955)" d="M982.448-216.863l-3.88-1.337-505.179 1349.027 40.241 13.856z" fill="url(#a-green-sm)" opacity=".902"></path>
    <path transform="scale(-1 1) rotate(-22 -452.582 1460.729)" d="M514.243 275.905L32.061 81.09l454.414 263.545z" fill="url(#b-green-sm)" opacity=".704"></path>
  </g>
</svg>
          </div>
  
      <div class="o-hero__content-wrapper">

      

        <div class="o-hero__text-wrapper">
          <div class="l-container l-container--width--md">

            <div class="o-hero__content">
                    



  


<ul class="a-grid a-grid--column-- a-grid--gutter--lg" id="section-6531">
  
  

            <li class="a-grid__item"><span class="m-editor">
            <h2>Become a Member</h2>

<p>When you join Vertigo Credit Union, you’re doing more than finding a financial partner: You’re becoming an owner. We listen to what our members say and develop affordable services and products that help you put your money to work for you, helping you reach your goals sooner.</p>

</span>
            
                      </li>
                  </ul>
                      </div>
          </div>
        </div>

        

      
    </div>
  
</section>


            
        <section>
      <main role="main">         <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      
            <div>
                                                                      <div class="main-content">
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      






  <div class="has-background-blue-light">
    <ul class="menu-list container landing-page-jump-menu">
          <li><a href="#open-an-account">Open an Account</a></li>
          <li><a href="#member-benefits">Member Benefits</a></li>
          <li><a href="#who-can-join">Who Can Join?</a></li>
        </ul>
  </div>

<article data-history-node-id="1232" role="article" about="/why-vacu/become-a-member" class="landing-page full clearfix">

  
    

  
  <div>
    

          <div>
                      <div>





  
<section class="o-section o-section--padding-bottom--lg" id="section-6568">
  
  

  <div class="container container--legacy" id="open-an-account">
            <div id="section-6653" class="content container paragraph paragraph--type--wysiwyg paragraph--view-mode--default">
          

                <div class="content">        <div><h2>Open an Account</h2>
<p>It’s easier than ever to become a VACU member! Simply choose a product below to get started or apply for a Business Membership.</p>


</div>
  </div>
          
      </div>

  



<div class="o-section__row">
  



  


<ul class="a-grid a-grid--block--3-up a-grid--gutter--lg" id="section-6574">
  
  

        

            <li class="a-grid__item">
            








<article class="m-card m-card--product">
  
  

  
  <div class="m-card__content u-text--align--center">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div about="/taxonomy/term/60">
  

  
  

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/2019-04/Checking.png' %}" width="63" height="63" alt="Checking Icon" loading="lazy" typeof="foaf:Image" />
</figure>

</div>
  </div>
          
</div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h2 class="a-heading m-card__heading">Checking</h2>
                                      <div class="m-card__summary m-editor"><p>From simple accounts with no minimums to those that reward you for a deeper banking relationship, we have a checking account to meet your needs.</p>


</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link card__link" href="#">
  Explore all Checking</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            








<article class="m-card m-card--product">
  
  

  
  <div class="m-card__content u-text--align--center">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div about="/taxonomy/term/63">
  

  
  

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/2019-04/Savings.png' %}" width="63" height="63" alt="Savings Icon" loading="lazy" typeof="foaf:Image" />
</figure>

</div>
  </div>
          
</div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h2 class="a-heading m-card__heading">Savings</h2>
                                      <div class="m-card__summary m-editor"><p>Do your long-term plans include buying a house, paying for college, or enjoying retirement? Our savings services help you prepare for these future goals or cover unplanned expenses.</p>


</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link card__link" href="#">
  Explore all Savings</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            








<article class="m-card m-card--product">
  
  

  
  <div class="m-card__content u-text--align--center">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div about="/taxonomy/term/61">
  

  
  

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/2019-04/Credit%20Cards.png' %}" width="63" height="63" alt="Credit Card Icon" loading="lazy" typeof="foaf:Image" />
</figure>

</div>
  </div>
          
</div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h2 class="a-heading m-card__heading">Credit Cards</h2>
                                      <div class="m-card__summary m-editor"><p>Choose from our three personalized cards, each with low rates, outstanding features, and no annual fees.</p>


</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link card__link" href="#">
  Explore all Credit Cards</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            








<article class="m-card m-card--product">
  
  

  
  <div class="m-card__content u-text--align--center">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div about="/taxonomy/term/67">
  

  
  

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/2019-04/Personal%20Loans.png' %}" width="63" height="63" alt="Personal Loans Icon" loading="lazy" typeof="foaf:Image" />
</figure>

</div>
  </div>
          
</div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h2 class="a-heading m-card__heading">Loans</h2>
                                      <div class="m-card__summary m-editor"><p>Explore our loans with great rates and low fees, giving you peace of mind to make the best financial choices and the most of every day.</p>


</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link card__link" href="{% url 'loans' %}">
  Explore all Loans</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            








<article class="m-card m-card--product">
  
  

  
  <div class="m-card__content u-text--align--center">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div about="/taxonomy/term/71">
  

  
  

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/2019-04/Business%20Loans.png' %}" width="63" height="63" alt="Business Loans Icon" loading="lazy" typeof="foaf:Image" />
</figure>

</div>
  </div>
          
</div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h2 class="a-heading m-card__heading">Business Membership</h2>
                                      <div class="m-card__summary m-editor"><p>The same benefits we offer members we extend to businesses in Virginia, including one-of-a-kind perks for your entire team. Explore Business Membership.</p>


</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link card__link" href="#">
  Explore Business Membership</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

    </ul>
</div>


    </div>
</section>
</div>
  
                      <div>





  
<section class="o-section o-section--padding-bottom--lg" id="section-6555">
  
  

  <div class="container container--legacy" id="member-benefits">
          





  




<div class="m-editor" id="section-6552">
  
  

  <div class="m-editor__wrapper">
          <h2>Member Benefits</h2>
<p>Here’s just a few of our features and benefits:<br />
 </p>
<div class="columns js-three-col">
<div class="column is-one-third js-col1">
<ul class="a-list a-list--checked">
<li>Wide range of affordable banking service</li>
<li>Low rates on loans and mortgage, plus special offers on related services</li>
<li>Convenient 24/7 access anywhere with <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="f6a4e719-b979-4c65-aa73-0be683a31801" href="../services/digital-banking.html" title="Digital Banking">online and mobile services</a></li>
<li>Easy-to-access <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="dcd07f0c-3b9b-4d22-9d84-c7cccabd779f" href="../help/locations/branch-atm-locator.html" title="Branch &amp; ATM Locator">branch locator</a></li>
<li>Supportive staff focused on your needs</li>
<li>College <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="c7b46166-b796-41b2-8035-9c9372a5e7b5" href="../scholarships.html" title="Scholarships">scholarships</a></li>
</ul>
</div>
<div class="column is-one-third js-col2">
<ul class="a-list a-list--checked">
<li>Lifetime membership</li>
<li>Free financial seminars and <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="b9341039-25b2-49fc-af17-cdc7a334c19e" href="../learn.html" title="Learn">online resources</a></li>
<li>Lower fees and tips on how to avoid fees altogether</li>
<li>Attractive <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="598e3e88-c395-4942-94b9-128b3678378c" href="../banking/savings.html" title="Savings">savings</a> options</li>
<li>Free notary services at our branches with photo ID</li>
<li>Comprehensive <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="8e304ad5-350a-41b4-9336-ec9fcec516f1" href="../services/investing.html" title="Investing">retirement and investing</a> services</li>
</ul>
</div>
<div class="column is-one-third js-col3">
<ul class="a-list a-list--checked">
<li>Safe deposit boxes at select branches. Contact us at <a href="tel:804-323-6800">804-323-6800</a> for information and availability</li>
<li>Official checks for purchases that require a guaranteed payment, such as real estate closings</li>
<li>Free Medallion Signature Guarantees – required for transactions that involve security transfers (stocks, bonds, mutual funds) – at our branches with photo ID</li>
</ul>
</div>
</div>



      </div>
</div>

  


  
    




<div class="m-button-group" id="section-6554"><div class="m-button-group__wrapper u-text--align--right"><span><a href="#" class="a-button a-button--unstyled js-tracker-cta"  role="link">
      Learn more about member benefits    </a></span></div></div>
  


    </div>
</section>
</div>
  
                      <div>





  
<section class="o-section o-section--padding-bottom--lg" id="section-6541">
  
  

  <div class="container container--legacy" id="who-can-join">
          





  




<div class="m-editor" id="section-6532">
  
  

  <div class="m-editor__wrapper u-margin-bottom--sm">
          <h2>Who Can Join?</h2>
<p>VACU membership is open to a wide range of individuals and groups. It's easier than ever to become a member!</p>



      </div>
</div>

    <div id="section-6566" class="js-accordion accordion paragraph paragraph--type--accordion-drawer paragraph--view-mode--default" data-drupal-selector="accordion" data-accordion-cool-selectors data-accordion-prefix-classes="animated">
      
  <div id="section-6565" class="paragraph content paragraph--type--accordion-item paragraph--view-mode--default js-accordion__panel">
          
  <h4 class="js-accordion__header" data-drupal-selector="accordion-title">General Eligibility Requirements</h4>

      <div class="js-accordion__panel">
        <div class="accordion__body">
          <p><strong>Employees and retirees of any:</strong></p>
<div class="columns js-two-col">
<div class="column is-one-half js-col1">
<ul>
<li>Commonwealth of Virginia state agency or department</li>
</ul>
</div>
<div class="column is-one-half js-col2">
<ul>
<li>County, city, town or other political subdivision in Virginia</li>
</ul>
</div>
</div>
<p><strong>Employees, retirees and members of the following companies, groups, organizations and associations.</strong></p>
<p><strong>Individuals who live, work, worship, volunteer or attend school within the boundaries of:</strong></p>
<div class="columns js-three-col">
<div class="column is-one-third js-col1">
<ul>
<li>City of Richmond</li>
<li>City of Petersburg</li>
<li>City of Hopewell</li>
</ul>
</div>
<div class="column is-one-third js-col2">
<ul>
<li>City of Fredericksburg</li>
<li>Buckingham County</li>
<li>Cumberland County</li>
</ul>
</div>
<div class="column is-one-third js-col3">
<ul>
<li>Nottoway County</li>
<li>Prince Edward County</li>
<li>Town of Farmville</li>
</ul>
</div>
</div>
<p class="u-mb-2"><strong>Employees of, retirees of or full-time/part-time students currently enrolled at:</strong></p>
<ul class="u-mb-0">
<li>Any Virginia state-funded college or university</li>
</ul>
<div class="columns js-three-col">
<div class="column is-one-third js-col1 u-pt-0">
<ul>
<li>Virginia Union University</li>
</ul>
</div>
<div class="column is-one-third js-col2 u-pt-0">
<ul>
<li>Randolph-Macon College</li>
</ul>
</div>
<div class="column is-one-third js-col3 u-pt-0">
<ul>
<li>University of Richmond</li>
</ul>
</div>
</div>
<p><strong>Immediate family and household members, regardless of where they live, which include:</strong></p>
<div class="columns js-three-col">
<div class="column is-one-third js-col1">
<ul>
<li>Parents</li>
<li>Spouses</li>
</ul>
</div>
<div class="column is-one-third js-col2">
<ul>
<li>Children</li>
<li>Siblings</li>
</ul>
</div>
<div class="column is-one-third js-col3">
<ul>
<li>Grandparents</li>
<li>Grandchildren</li>
</ul>
</div>
</div>




        </div>
      </div>
      </div>

  
  <div id="section-6583" class="paragraph content paragraph--type--accordion-item paragraph--view-mode--default js-accordion__panel">
          
  <h4 class="js-accordion__header" data-drupal-selector="accordion-title">Full List of Eligible Employers, A-Z</h4>

      <div class="js-accordion__panel">
        <div class="accordion__body">
          <p>A&amp;J Technologies, Inc.<br />
Abilene Motor Express<br />
Acca Shriners<br />
Ace Towing<br />
ACF Environmental<br />
ACS, Inc.<br />
Actum, Inc.<br />
Admiral Security Services<br />
Advance Trailer Systems, Inc., d/b/a Riverside Logistics Services<br />
AECOM (Richmond employees only)<br />
AFP Industries, Inc.<br />
A G Dillard Inc.<br />
Air Excellence, Inc.<br />
Air Specialists of Virginia, Inc.<br />
Airport Hospitality<br />
Ajilon Professional Staffing (Richmond employees only)<br />
Albemarle County Department of Fire Rescue – Volunteer Firefighters<br />
Albemarle County Department of Fire Rescue –Volunteer EMS<br />
Albemarle Heating &amp; Air, Inc.<br />
All Aboard Child Development Center<br />
All About Care, LLC<br />
All Nurses Care, Inc.<br />
All Risks Ltd. Of Virginia<br />
Allen Management, Inc.<br />
Allen, Allen, Allen, and Allen<br />
Allianz Global Assistance (Richmond employees only)<br />
Alstom Power, Inc. (Virginia employees only)<br />
Amcor Packaging<br />
<span><span><span>Amelia Courthouse Merchants Association (Members)</span></span></span><br />
American Association of School Administrators (Employees only)<br />
American Family Fitness (Employees only)<br />
American Red Cross – Greater Richmond Chapter (Richmond employees only)<br />
American Specialty Equipment Corp.<br />
AMF Bowling Worldwide<br />
Amica Mutual Insurance Company (Richmond employees only)<br />
Anton Paar USA, Inc.<br />
Apex Systems, Inc.<br />
Apple Door Systems, Inc.<br />
Appomattox Title Company<br />
Aquia Harbour Property Owners Association, Inc. (Members and employees)<br />
<span><span><span>Arbor Landing Homeowner’s Association (Employees and members)</span></span></span><br />
Architects Dayton Thompson &amp; Associates, PC<br />
Architectural &amp; Engineering Supply Company<br />
ARTon Products, Inc.<br />
A-Systems Incorporated<span><span><span><span></span></span><span><span><span><span><span></span></span></span></span></span></span></span><span><span><span><span><span><span><span><br />
Astyra Corporation</span></span></span></span></span></span></span><br />
Atlantic Coast Athletic Clubs<br />
Atlantic Coast Cranes &amp; Machinery, Inc.<br />
Atlantic Constructors, Inc.<br />
Atlantic Tower Corporation<br />
Bantam's Plumbing Company, Inc. <br />
Barakel, Inc.<br />
Battlefield Park Elementary School PTA (Members)<br />
B&amp;B Printing Co., Inc.<br />
Beaverdam Elementary School PTA (Members)<br />
Beloro, Inc. DBA Southern Copier Sales &amp; Service<br />
Bill Gosling Outsourcing<br />
Black Creek Baptist Church (Employees)<br />
Blair Dumond, Inc.<br />
Bliley's<br />
Blue Beacon of Fredericksburg<br />
Blue Ridge Grading &amp; Utilities, Inc.<br />
Blue Ridge Home Builders Association (Members)<br />
Boar’s Head Provisions Co., Inc.<br />
Bon Secours Richmond Health Systems (Includes affiliated physicians &amp; their employees)<br />
Bon Secours Retirement Community<br />
Bostwick Laboratories, Inc.<br />
Bowl America<br />
Boydton Community Health Facility, Inc.<br />
Brandermill Community Association, Inc. (Members and employees)<br />
<span><span><span><span><span><span>Brandermill Country Club (Employees)</span></span></span></span></span></span><br />
Brandermill Woods Retirement Community<br />
Briefings Media Group<br />
Brink's (Richmond Corporate employees only)<br />
Brown Distributing Company, Inc.<br />
Brown &amp; Brown Insurance (Richmond and Roanoke employees)<br />
Brown Greer PLC<br />
BSN Sports (Richmond employees)<br />
Buckingham Branch Railroad<br />
Buford Road Pharmacy<br />
Burlington Coat Factory (Richmond and Fredericksburg employees only)<br />
Business Opportunities for the Blind, Inc.<br />
C &amp; L Plumbing<br />
C234, Inc. dba Cross Timbers Roofing<br />
Canterbury Community Nursery School<br />
Capital Area Health Network<br />
<span><span><span>Capital Foot Care (VA Employees)</span></span></span><br />
Care Advantage, Inc.<br />
CARITAS<br />
Carolina Container Company<br />
Caroline County Fire &amp; Rescue – EMS Volunteers<br />
Caroline County Fire &amp; Rescue – Volunteer Firefighters<br />
Caroline Pines Property Owners Association (Members and employees)<br />
Carousel Physical Therapy, Inc<br />
Carter Printing Company<br />
Catholic Diocese of Richmond &amp; its integrated auxiliaries (Employees)<br />
Cavalier Telephone, L.L.C.<br />
CBRE of Virginia (Richmond employees only)<br />
Cegedim<br />
Centura College<br />
<span><span><span><span></span></span><span><span><span></span></span></span></span></span><span><span><span><span><span>Century Engineering, Inc.</span></span></span></span></span><br />
CFA Institute<br />
C-Fit Community <br />
Chamisoft, Inc.<br />
Chanello’s Pizza (Richmond and Mechanicsville locations only)<br />
Charlottesville Area Association of REALTORS® (Members and employees)<br />
Charlottesville Truck Repair, Inc.<span><span><span><span><span><span><span><br />
ChemTreat<br />
Chesterfield County EMS/FIRE </span></span></span></span></span></span></span><span><span><span><span><span><span><span><span><span><span><span><span><span><span><br />
Chesterfield County Public Schools (Employees and students)</span></span></span></span></span></span></span></span></span></span></span></span></span></span><br />
Chesterfield Observer<br />
Chick-fil-A (Colonial Heights location only) <br />
Chickahominy Middle School PTA (Members)<br />
Child Care Aware Virginia (VA employees) <br />
ChildFund International<br />
Childhelp, Inc.<br />
Children’s Hospital<br />
Choice Entertainment<br />
ClearPoint Financial Solutions (Virginia employees only)<br />
<span><span><span>CMA’s Colonial Chevrolet </span></span></span><br />
Cobb Office Technologies<br />
Cold Harbor Elementary School PTA (Members)<br />
Collegiate Funding Services, LLC (Virginia employees only)<br />
Collegiate School<br />
Colliers International (Richmond area employees) <strong><span><span></span></span></strong><br />
<span><span>Colonial Athletic Association (CAA)</span></span><br />
Colonial Chem-Dry<span><br />
Colonial Downs Group, LLC (Virginia locations)<br />
Colonial Ford Truck of Tidewater, Inc.<br />
Colonial Ford Truck Sales, Inc.<br />
Colonial Tire Distributors, Inc.<br />
Colonial Truck Sales, Inc.<br />
ColonialWebb Contractors<br />
Colortree Group<br />
Comcast (Richmond area employees)<br />
Comfort Assured Nurses Corporation<br />
Commonwealth Anesthesia Associates<br />
Commonwealth Catholic Charities (Virginia employees only)<br />
Commonwealth Public Broadcasting Corporation (Richmond employees only)<br />
Community Group, Inc.<br />
Community Memorial Healthcenter<br />
Companion Extraordinaire Nursing Network, Inc.<br />
Computer Consulting Group (Richmond Branch)<br />
Computer Resource Team, Inc.<br />
Computer Solutions Company of Virginia, Inc.<br />
Concentrix (Virginia employees)<br />
Concord Hospitality Enterprises d/b/a Doubletree By Hilton Hotel (Richmond Airport)</span><span><br />
Connected Solutions Group LLC<br />
Conotti Corporation<br />
Container First Services – Stamptech, Inc.<br />
Cool Spring Elementary School PTA (Members)<br />
Costco (Southside Richmond employees only)<br />
Costco Wholesale Corporation (Fredericksburg employees only)<br />
Costen Floors, Inc.</span><span><span><span><span><span><span><br />
Courthouse Senior Apartments Residents Association (Voting members) </span></span></span></span></span></span><span><br />
Courtyard Marriott (Sandston, VA only)<br />
Coventry Healthcare of VA<br />
Cox Radio Richmond, Inc. (Richmond employees only)<br />
Crown Cork &amp; Seal Company (Virginia employees only)<span><span><span><span></span></span><span><span><span><br />
Crutchfield Corporation</span></span></span></span></span><br />
Cultural Center of India (Members)</span><span><br />
Custom T's<br />
CVS of Virginia Distribution, Inc.<br />
D&amp;P Mechanical LLC<br />
<span>Datamatx, Inc.</span><br />
Data Technologies of Virginia, Inc.<br />
David Sussman Realty, Inc.<br />
Daystar Desserts, LLC<br />
Delany Products<br />
Delta Automation<br />
Design Electric, Inc. <br />
Dewberry<br />
Diamond Health Care Corporation<br />
Direct Mail Solutions<br />
Dominion Packaging<br />
Dominion Payroll Services<br />
Dominion Youth Services<br />
Don Anderson &amp; Associates, LTD<br />
Double Tree Hilton Charlottesville</span></p>
<p>Eagle Tele Services, Inc.<br />
East Coast Glass Systems, Inc.<br />
<span><span><span>East West Partners</span></span></span><br />
Ebenezer Baptist Church (Employees)<br />
Educational Credit Management Corporation (Virginia employees only)<br />
Eilerson Development Corporation d/b/a EDC<br />
Electrical Equipment Company<br />
Electronic Systems of Richmond (Richmond, Petersburg, and Washington, D.C. (employees only)<br />
Elephant Insurance Services, LLC<br />
Elizabeth Adam Crump Manor<br />
Elizabeth Scott Elementary School PTA (Members)<br />
Ellis Financial Corp.<br />
Entrust Records Management<br />
Envera Health, Inc.<br />
EverDrive, LLC<br />
Executive Women International, Richmond Chapter<br />
Exterior Source<br />
Faithful Servants Care LLC<br />
Family Care, Inc.<br />
Family Lifeline<br />
Family Preservation Services, Inc.<br />
Farm Fresh – Corp.<br />
Fawn Lake Community Association<br />
Fidelity Printing, Inc.<br />
Flatter &amp; Associates<br />
Florucci Foods, Inc.<br />
Foot &amp; Ankle Specialists of Virginia, P.C.<br />
Four Points by Sheraton Richmond<br />
Fredericksburg Auto Auction<br />
<a href="http://www.crrlfriends.org/">Friends of the Central Rappahannock Regional Library (Members)</a><br />
<a href="http://www.chesterfieldfriends.org/">Friends of the Chesterfield County Public Library (Members)</a><br />
<a href="https://henricolibrary.org/friends-of-the-library">Friends of the Henrico County Public Library (Members)</a><br />
Froehling &amp; Robertson, Inc.<br />
GE Intelligent Platforms (Charlottesville employees only)<br />
Gemini Incorporated (Farmville employees only)<br />
General Dynamics Shared Resources, Inc. (Charlottesville area employees)<br />
Girl Scouts Commonwealth Council of Virginia<br />
Goodwill of Central Virginia<br />
Granger Genetics<br />
Grenova, LLC<br />
Hallmark Youthcare – Richmond, Inc.<br />
Hallsley Homeowners Association, Inc. (Members)<br />
Hampton Park Community Association (Members and residents)<br />
Handcraft Cleaners and Launderers, Inc.<br />
Hanover Evangelical Friends Church &amp; Day School (Members and employees)<br />
Hanover Foils, LLC<br />
Hanover High School PTSA (Members)<br />
Hanover Volunteer EMS<br />
Hanover Volunteer Fire Fighters<br />
HealthSouth Rehabilitation Hospital<br />
HealthTrust<br />
Henrico Health and Rehabilitation Center<br />
HC Yu and Associates Consulting Engineers<br />
HICO Services, Inc.<br />
Hilex Poly Company, LLC<br />
Hill Phoenix, Inc.<br />
Hilton Richmond Hotel and Spa Short Pump<br />
HomeAid, Inc.<br />
Hoover and Strong, Inc.<br />
Hospice of Virginia<br />
HydroChem Industrial Services (Petersburg employees only)</p>
<p>Independent Container Line, Ltd.<br />
INSMED Pharmaceuticals, Inc.<br />
Intercept Youth Services, Inc.<br />
Intuit (Fredericksburg employees only)<br />
IPC Technologies<br />
Jan Pro Cleaning Systems<br />
James River Heating and Air Conditioning<br />
James River Press LLC<br />
Jerusalem Baptist Church<br />
John M. Gandy Elementary School PTA (Members)<br />
J.M. Fry Company<br />
J.W. Sieg &amp; Company Inc.<br />
KCI Technologies, Inc. (Virginia employees only)<br />
Kersey Creek Elementary School PTA (Members)<br />
Kenco Logistics Services<br />
Kings Dominion<br />
King William Ruritan, Inc. (Members)<br />
Klean Kare Team Inc.<br />
Kloeckner Metals (Troy, VA employees only)<br />
Koalafi<br />
Kohl’s Department Stores (Richmond based employees)<br />
Koontz-Bryant, PC<br />
Lansing Building Products<br />
Laurel Meadow Elementary School PTA (Members)<br />
Laurel Pines/F&amp;W Management Corp.<br />
Lee Hy Paving Corporation<br />
Lewis Ginter Botanical Gardens<br />
Logexsoft, Inc.<br />
Luck Stone Corporation (Fredericksburg employees only)<br />
Luck Stone Corporation (Richmond area employees only)</p>
<p>Magnolia Green Golf Club (Employees)<br />
Mailing Services, Inc.<br />
Mailing Services of Virginia (Charlottesville employees only)<br />
Manchester Industries of Virginia Inc. <br />
Manorhouse Retirement Centers, Inc.<br />
Mapcom Systems<br />
Markel Corporation (Virginia employees only)<br />
Mary Washington Healthcare<br />
Mason and Hanger (Virginia employees)<br />
Masonic Home of Virginia<br />
Maximus Foundation (Richmond Area Employees)<br />
McGeorge Camping Center, Inc. (dba McGeorge Rolling Hills RV)<br />
McKinney and Company (Virginia employees only)<br />
MCV Physicians<br />
Mechanicsville Christian Center (Employees)<br />
Mechanicsville Elementary School PTA (Members)<br />
Medical Facilities of America (Roanoke &amp; Richmond employees only)<br />
Medical Facilities of America, Inc. (Bowling Green employees only)<br />
Medical Facilities of America, Inc. (Louisa employees only)<br />
Members Financial Services<br />
Menlo Logistics<br />
Mercer Human Resources Consulting<br />
Merchant’s Inc.<br />
Metromont Corporation (Richmond employees only)<br />
Midlothian Athletic Club (Employees)<br />
Monticello Media LLC<br />
Morton Consulting Group<br />
Moslow Wood<br />
MPW Industrial Services, Inc.<br />
Mt. Carmel Baptist Church (Employees)<br />
Mutual Assurance Society of Virginia<br />
National Micrographic Systems, Inc. (Virginia employees only)<br />
National Optronics<br />
Nationz Foundation<br />
NDMCO Lenders Institute, Inc.<br />
Networking Technologies &amp; Support (Virginia employees only)<br />
Neurological Associates, Inc.<br />
New Generation Youth Services<br />
New Touch Global<br />
NHS Mid-Atlantic Region<br />
Niamtu, Alexander, Keeney, Harris, Metzger, Dymon &amp; Associates<br />
Noble Cars, Inc. (t/a Mercedes Benz of Fredericksburg)<br />
Northrop Grumman (Charlottesville employees only)<br />
NTT Data (Richmond employees)<br />
Oak Knoll Middle School PTA (Members)<br />
Obrist Americas, Inc.<br />
Ocean Systems Engineering Corporation (Virginia employees only)<br />
Old Dominion Cabinet Company<br />
Old Dominion Security Co., Inc.<br />
Old Dominion Truck Leasing/Dominion Dedicated Logistics<br />
OrthoVirginia<br />
Overhead Door Company of Central Virginia <br />
Owens &amp; Minor<br />
Pamplin Historical Park<br />
Paradocs, Inc. DBA Great Clips<br />
Pari Respiratory Equipment, Inc.<br />
Pathways<br />
Payerpath, Inc.<br />
Pearson’s Corner Elementary School PTA (Members)<br />
Pebble Creek Property Owners Association (Members and employees)<br />
Pediatric &amp; Adult ENT Associates, P.C.<br />
Peoples Income Tax, Inc.<br />
Performance Autosport, Inc.<br />
Physical Medicine Center<br />
Pleasants Hardware<br />
Pole Green Elementary School PTA (Members)<br />
Porvair Filtration Group<br />
Powhatan Chamber of Commerce (Members)<br />
PPD, Inc. (Richmond Development Lab)<br />
PrecisioIR (Richmond employees only)<br />
Prevent Child Abuse Virginia<br />
Printing Services, Inc.<br />
Printpack, Inc. (Fredericksburg employees only)<br />
Produce Source Partners<br />
Providence Service Corporation<br />
Purcell Construction Company (Virginia employees only)<br />
Puritan Systems, Inc.</p>
<p>Quad Printing (Richmond employees only)<br />
Quality Plus Services, Inc.<br />
Quality Transportation Services, Inc.<br />
<span><span><span>Queensmill Civic Association (Members)</span></span></span><br />
Rainbow Station, Inc.<br />
Rappahannock Area YMCA, Inc.<br />
Rappahannock United Way, Inc.<br />
Reames &amp; Moyer, Inc.<br />
Recreational Resorts, Ltd. (Spotsylvania employees only)<br />
Rehab Management Inc. <br />
Republic National Distribution Company<br />
Residence Inn - Fredericksburg<br />
Resource for Independent Living<br />
Resource International, Ltd.<br />
Result Performance<br />
Retail Merchants Association of Greater Richmond, Virginia, Inc.<br />
Richmond Academy of Medicine<br />
The Richmond Association of REALTORS® (Members and employees)<br />
Richmond Behavioral Health Authority<br />
Richmond Bumper Service, Inc.<br />
Richmond Center Stage<br />
Richmond Cold Storage Co., Inc. (all Virginia employees)<br />
Richmond Commercial Services<br />
Richmond Convention and Visitors Bureau<br />
Richmond Corrugated Box Company<br />
Richmond Dental Society, Inc. (Members)<br />
Richmond Express<br />
Richmond Fiber Systems (Richmond employees only)<br />
Richmond Marriott Hotel<br />
Richmond Motor Company, Inc.<br />
Richmond Pediatric Associates<br />
Richmond Raceway<br />
Richmond Refrigeration Service, Inc.<br />
Richmond Region Tourism<br />
Richmond Restaurant Service<br />
Richmond Spine Interventions<br />
Richmond Steel Rule Dies, Inc.<br />
Richmond Volleyball Club (Members and employees)<br />
Riverside School Inc.<br />
Robert Half International (Richmond branch only)<br />
Roberts Home Medical<br />
Rochedale Hundred Community Association, Inc. (Members)<br />
Royall &amp; Company<br />
Ryerson Company<br />
S &amp; M Equipment Corporation (d/b/a McIntyre Equipment Company)<br />
Sabra Dipping Company<br />
Sam’s Club (Employees only)<br />
Sam’s Club - Charlottesville (Employees only)<br />
Schewels Furniture Co. (Charlottesville employees only)<br />
Schnabel Engineering<br />
Sealeze A Unit of Jason, Inc.<br />
Security First Recycling Corp. (t/a Document Destruction Services)<br />
Service Electrical Contractors<br />
ServiceMark Appraisal Company<br />
Shamin Hotels<br />
Shaw Industries, Inc. (Virginia employees only)<br />
Sheltering Arms Physical Rehabilitation Centers<br />
Shoe Carnival (Virginia employees only)<br />
Shoney’s of Richmond, Inc./Captain D’s Restaurants, Inc./Tidewater Restaurants, Inc.<br />
Shoosmith Bros., Inc.<br />
Shoosmith Construction, Inc.<br />
Short Stop Food Stores, Inc. t/a Styles Bi-Rite<br />
S.L. Williamson Co., Inc.<br />
Southeast Frozen Foods<br />
Southeastern Engineering Sales, Inc.<br />
Southeastern Institute of Research<br />
Southern Electric<br />
Southern Equipment Company (d/b/a Ready Mixed Concrete Co.-Richmond office)<br />
Southern Mechanical Corporation <br />
Southside Baptist Christian School<br />
Southworth Mechanical Corporation<br />
Sports and Health Clubs, LC (Four Mile Fork employees only; dba Sport and Health or Sport and Health Club)<br />
Spotsylvania Regional Medical Center HCA Virginia Health System<br />
St. James Baptist Church (Employees)<br />
St. Joseph’s Villa<br />
St. Mary’s Ambulatory Surgery Center<br />
St. Mary's Hospital Medical Office Bldg (Tenants &amp; their employees)<br />
Standard Motor Products, Inc.<br />
Standex Engraving, LLC<br />
Stemmle Plumbing Repair, Inc. <br />
Stephen Craig, Inc.<br />
STEP (Successful Thinkers Entrepreneurial Program)<br />
STEPS, Inc.<br />
Steves &amp; Sons, Inc.<br />
Stewart Enterprises, Inc. (Virginia employees only)<br />
Stewart Moving and Storage <br />
Stonewall Jackson Middle School PTA (Members)<br />
Stony Point Surgery Center (MEDARVA)<br />
Summerford Homeowners Association, Inc. (Members)<br />
Sun Chemical<br />
Sun Styles Timber Framing, Inc.<br />
Super Radiator Coils<br />
<span><span><span>Superior Walls of Central Virginia, Inc. (Employees)</span></span></span><br />
SUPERVALU (Mechanicsville, Richmond, and Chester employees only)<br />
Sweet Frog<br />
Symphony Manor of Richmond<br />
T-Mobile (Virginia employees only)<br />
Taskforce Staffing<br />
Taylor and Parrish, Inc.<br />
TDBBS, LLC<br />
Technisource (Virginia employees only)<br />
Telvista, Inc.<br />
Terex Utilities<br />
The Ascendant Group<br />
The Computer Solutions Company of Virginia, Inc.<br />
The Country Vintner<br />
The Faison Center<br />
The Great Big Greenhouse, Inc.<br />
The Heritage Inn Assisted Living &amp; Memory Care<br />
The Kerner Group<br />
The Kleane Kare Team, Inc.<br />
The Salvation Army – Fredericksburg only<br />
The Simmons Manufacturing Co., LLC (Virginia employees only)<br />
The Trust Company of Virginia<br />
The Valentine Museum<br />
The Villages at the Crossings Townhouse Association, Inc. (Members)<br />
The Virginia Home<br />
The Vitamin Shoppe (VA locations)<br />
The Whitlock Group<br />
Titan America (Richmond &amp; Fredericksburg areas only)<br />
Tradesman International, Inc.<br />
Transfield North America<br />
Tredegar Industries<br />
Tru Tech Doors USA, Inc.<br />
True Health Diagnostics<br />
Tuckaway Incorporated</p>
<p>Ukrop's Threads<br />
UniMatrix International Corporation<br />
United Parcel Service (Richmond Area only)<br />
United Parcel Service (Fredericksburg Customer Center only)<br />
United Parcel Service (Keysville, VA only)<br />
United Way of Greater Richmond &amp; Petersburg<br />
Universal Health Services, Inc.<span><span><span></span><span><br />
USP Technologies</span></span></span><br />
Van Go, Inc. of Richmond<br />
Victory Tabernacle Child Development Center<br />
Village of Amberleigh Homeowners Association, Inc. (Members)<br />
Virginia Adult &amp; Pediatric Allergy<br />
Virginia Air Distributors, Inc.<br />
Virginia Animal Control Association (Members)<br />
<a href="http://www.virginiaacte.org/">Virginia Association for Career and Technical Education (VACTE) (Members and Employees)</a><br />
Virginia Blood Services<br />
Virginia Cancer Institute<br />
Virginia Ear, Nose &amp; Throat Associates<br />
Virginia Education Association (Employees)<br />
Virginia Endoscopy Group<br />
Virginia Eye Institute<br />
Virginia Family Dentistry<br />
Virginia Historical Society<br />
Virginia Latino Higher Education Network (Members)<br />
Virginia Municipal League<span><span><span><span></span></span><span><span><span><br />
Virginia Physicians, Inc.</span></span></span></span></span><br />
Virginia Physicians for Women<br />
Virginia Premier Health Plan, Inc.<br />
Virginia Primary Care Association d/b/a Virginia Community Healthcare Association (Employees)<br />
Virginia Production Alliance (Members)<br />
Virginia Society of CPAs<br />
Virginia Urology Center, P.C.<br />
Virginia Women's Center<br />
Vulcan Materials Company<br />
W. G. Speeks, Inc.<br />
W. H. Stovall &amp; Company, LLC<br />
W. W. Enroughty and Son, Inc.<br />
Waco, Inc.<br />
Walker Chaney CPAs<br />
Wal-Mart Stores, Inc. #1833 (Fredericksburg Store #1833 employees only)<br />
Wal-Mart Stores, Inc. #2438 (Stafford employees only)<br />
Wal-Mart Stores, Inc. #2520 (Fredericksburg Store #2520 employees only)<br />
Washington &amp; Lee University<br />
Waste Management (Falmouth employees only)<br />
Wellesley Homeowners Association, Inc. (Members and employees)<br />
West Home Health Care, Inc.<br />
Westmoreland Rehabilitation and Healthcare<br />
WestRock (Corporate Center)<br />
Whitman, Requardt and Associates, LLP<br />
Whole Foods Market, Inc.<br />
Woodfin Heating, Inc.<br />
Woodlake Community Association (Employees and residents)<br />
WRIC TV<span><span><span>/Nexstar, Inc. </span></span></span> (Richmond employees only)<br />
WTVR-TV (Richmond employees only)<br />
X-Ray Medical Services, Inc.<span><span><span></span><span><br />
X-Ray Optical Systems, Inc.</span></span></span><br />
Zimmer Mid-Atlantic, Inc.<br />
5th Avenue Cleaners/Addison Services, Inc.</p>




        </div>
      </div>
      </div>


  </div>

  


  
    




<div class="m-button-group" id="section-6585"><div class="m-button-group__wrapper u-text--align--right"><span><a href="#" class="a-button a-button--unstyled js-tracker-cta"  role="link">
      Learn more about membership eligibility    </a></span></div></div>
  


    </div>
</section>
</div>
  
                      <div>



      





<section class="o-banner o-banner--style--dark-blue-cta" id="section-6545">
  
  

  <div class="o-banner__content u-text--align--center">
          <div class="l-container l-container--width--sm">
                

          <div>
                      <div>





  




<div class="m-editor" id="section-6542">
  
  

  <div class="m-editor__wrapper">
          <h2 class="text-align-center">Still have questions?</h2>
<p class="text-align-center">Apply online, join in-person at one of our local branches, or contact us directly.</p>



      </div>
</div>
</div>
  
                      <div>


  
    




<div class="m-button-group" id="section-6544"><div class="m-button-group__wrapper"><span><a href="#" class="a-button a-button--primary js-tracker-cta"  role="link">
      Visit a branch    </a></span><span><a href="#" class="a-button a-button--primary js-tracker-cta"  role="link">
      Contact us    </a></span></div></div>
  
</div>
  
          </div>
      

        
            </div>
    
  </div>
</section>
  
</div>
  
                      <div>





  
<section class="o-section o-section--padding-bottom--md o-section--padding-top--md" id="section-6547">
  
  

  <div class="l-container l-container--width--md">
          
  




  

<ul class="a-grid a-grid--flex a-grid--gutter--lg a-grid--referenced-content" id="section-6546">
  
  

          <li class="a-grid__item">
          <div class="m-editor m-editor--resources-header-sm">
        <div class="m-editor__wrapper">
          <h2>Become a Member Resources</h2>
          <p>
            <a href="{% url 'learn' %}" aria-label="see more resources">See More Resources</a>
          </p>
        </div>
      </div>
      </li>
  <li class="a-grid__item">
          







<article class="m-card m-card--resource">
  
  

  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

        
                  





  <h2 class="a-heading m-card__heading">
    <a href="{% url 'why-vacu' %}">Why choose Vertigo Credit Union?</a>
  </h2>

                                      <div class="m-card__summary m-editor">      Our accounts, financial tools, and convenient services help you grow your money and live more confidently.
  </div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

      </li>
  <li class="a-grid__item">
          








<article class="m-card m-card--resource">
  
  

  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

        
                  





  <h2 class="a-heading m-card__heading">
    <a href="../help/membership/locations.html">Locations</a>
  </h2>

                                      <div class="m-card__summary m-editor">      As a VACU member, you have access to your funds at thousands of locations nationwide and ATMs worldwide.
  </div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

      </li>
  <li class="a-grid__item">
          








<article class="m-card m-card--resource">
  
  

  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

        
                  





  <h2 class="a-heading m-card__heading">
    <a href="#">Membership FAQs</a>
  </h2>

                                      <div class="m-card__summary m-editor">      Frequently asked questions about membership.
  </div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

      </li>

    </ul>


    </div>
</section>
</div>
  
          </div>
      

          </div>

</article>

  </div>


          </div>
        
      </div>

    </main>
  </section>
{% endblock %}
