{% extends 'home/base.html' %}
{% load static %}
{% block title %}Careers{% endblock %}
{% block content %}
<div class="l-container">

  

        




<div class="hero__basic basic-page content ">
  
  
    
  <h1 class="basic-title" property="schema:name"><span property="schema:name">Careers</span>
</h1>
    
  
</div>
    
    
      
  <section class="section">
    <main role="main">
              <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      

      <div class="columns is-centered">
                                                                      <div class="main-content column">
            
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      


<article data-history-node-id="78" role="article" about="/why-vacu/about-us/careers" typeof="schema:WebPage" class="content page basic-page full clearfix">

  
      <span property="schema:name" content="Careers" class="hidden"></span>


  
  <div>
    

          <div>
                      <div>  <div id="section-1600" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><div class="columns js-two-col">
<div class="column is-half js-col1">
<p>We are always looking for people who share our passion for helping members build their finances and confidence. In return, we offer employees a challenging and rewarding work environment. We are committed to maintaining an atmosphere of respect and integrity that promotes teamwork and improvement.</p>
<p><a class="vacu-button" data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="fd17f533-ee01-428a-8bdc-e8e83de75bb3" href="#" title="Current Openings" drupal-data-selector="modal-link" data-modal-title="Current Openings" data-modal-content="&quot;&lt;p&gt;Please tell us which type of candidate you are.&lt;\/p&gt;\n&lt;p&gt;&lt;a class=\&quot;vacu-button\&quot; href=../../_https_/www.myworkday.com/vacu/d/task/3005%244482.htmld/_.html target=\&quot;_blank\&quot;&gt;Current VACU Employee&lt;\/a&gt;&lt;\/p&gt;\n&lt;p&gt;&lt;a class=\&quot;vacu-button\&quot; href=../../_/vacu.wd1.myworkdayjobs.com/VACU_Careers/_.html target=\&quot;_blank\&quot;&gt;Future Candidate&lt;\/a&gt;&lt;\/p&gt;\n\n\n&quot;">Current Openings</a></p>
<p> </p>
</div>
<div class="column is-half js-col2">
<div class="video-embed-field-provider-wistia-enhanced video-embed-field-responsive-video">
<script src="https://fast.wistia.com/embed/medias/ivnt9mw5vx.jsonp" async></script>

<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;padding-bottom: 1em;">
  <span class="wistia_embed wistia_async_ivnt9mw5vx popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
</div>

</div>

</div>
</div>
<hr />


</div>
  </div>
          
      </div>
</div>
  
                      <div>  <div id="section-1602" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><h2>Employment Applications </h2>
<p>Complete an application to be considered for a position with Vertigo Credit Union by:</p>
<ul>
<li>Creating a profile and completing the online application (preferred method).</li>
<li>Applying in person between 9:00 a.m. and 4:00 p.m. at 7500 Boulders View Drive, Richmond, VA</li>
</ul>
<p>Feel free to include your résumé with your application. Applications are accepted only for current openings.</p>
<h2>Benefits package</h2>
<p>In addition to a competitive salary, we offer a benefits package<a aria-describedby="footnote-label" class="see-footnote" id="footnoteref1_7npldb1" title="Vertigo Credit Union is constantly striving to improve benefits so they are subject to change. Benefits vary based on full-time or part-time status." href="#footnote1_7npldb1">1</a> that's among the best in the industry. Join our team and find out what makes Vertigo Credit Union a great place to work.</p>


<ul class="footnotes"><li class="footnote tiny" id="footnote1_7npldb1"><a aria-label="Back to content" class="footnote-label" href="#footnoteref1_7npldb1">1</a> <span>Vertigo Credit Union is constantly striving to improve benefits so they are subject to change. Benefits vary based on full-time or part-time status.</span></li>
</ul>
</div>
  </div>
          
      </div>
</div>
  
                      <div>  <div id="section-2332" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><h3>Benefits include</h3>
<div class="columns js-three-col">
<div class="column is-one-third js-col1">
<ul class="vacu-checked-list">
<li>Medical insurance</li>
<li>Dental insurance</li>
<li>Prescription drug benefits</li>
<li>Flexible spending accounts</li>
<li>401(k) plan with employer match</li>
<li>Defined benefit retirement plan</li>
<li>11 paid holidays</li>
</ul>
</div>
<div class="column is-one-third js-col2">
<ul class="vacu-checked-list">
<li>Paid vacation</li>
<li>Paid sick leave</li>
<li>Tuition reimbursement for full-time employee</li>
<li>Annual incentive program</li>
<li>Membership eligibility</li>
<li>Group term life insurance</li>
<li>Accidental death insurance</li>
</ul>
</div>
<div class="column is-one-third js-col3">
<ul class="vacu-checked-list">
<li>Voluntary life insurance</li>
<li>Long-term disability</li>
<li>Short-term disability</li>
<li>Employee assistance program</li>
<li>In-house training &amp; development</li>
</ul>
</div>
</div>
<p> </p>


</div>
  </div>
          
      </div>
</div>
  
                      <div>  <div id="section-1604" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><h2>Contact</h2>
<p><img alt="Richmond Times-Dispatch Top Places To Work logo" data-entity-type="file" data-entity-uuid="56244b07-897f-4fea-bda5-7b0b17e2479d" src="../../sites/default/files/inline-images/TWP_Richmond_2018_0.jpg" class="align-right" width="250" height="128" loading="lazy" />Email: <a href="mailto:jobs@vacu.org">jobs@vacu.org</a><br />
Fax: <span><span><span><span><span><span><span><span>804-718-6909</span></span></span></span></span></span></span></span> <br />
Phone: 804-323-6000 or 800-285-5051 <br />
7500 Boulders View Drive<br />
Richmond, VA 23225</p>


</div>
  </div>
          
      </div>
</div>
  
                      <div>  <div id="section-1605" class="content basic-page paragraph paragraph--type--wysiwyg paragraph--view-mode--basic-width">
          

                <div class="content">        <div><hr />
<p>Vertigo Credit Union is an Equal Opportunity Employer</p>


</div>
  </div>
          
      </div>
</div>
  
          </div>
      
  </div>

</article>

  </div>


          </div>
        
      </div>

    </main>
  </section>

  </div>
{% endblock %}