{% extends 'home/base.html' %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}
<div class="hero__basic basic-page content ">
        
            <a class="arrow-link arrow-link--back" href="#" aria-label="Back to Membership">
    <i class="fas fa-long-arrow-left arrow-icon arrow-icon--back"></i>Back to
    Membership
  </a>
  
    
  <h1 class="basic-title" property="schema:name"><span>Credit Union FAQs</span>
</h1>
    
  
</div>
    
    
  <section class="section">
    <main role="main">
              <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      

      <div class="columns is-centered">
                                                                      <div class="main-content column">
            
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      


<article data-history-node-id="631" role="article" about="/help/membership/credit-union-faqs" class="content help-topic full clearfix">

  
    

  
  <div>
    

          <div>
                      <div>  <div id="section-2802" class="basic-page js-accordion accordion paragraph paragraph--type--accordion-drawer paragraph--view-mode--basic-width" data-drupal-selector="accordion" data-accordion-cool-selectors data-accordion-prefix-classes="animated">
      
  <div id="section-2799" class="paragraph content paragraph--type--accordion-item paragraph--view-mode--default js-accordion__panel">
          
  <h4 class="js-accordion__header" data-drupal-selector="accordion-title">What&#039;s the difference between a credit union and a bank?</h4>

      <div class="js-accordion__panel">
        <div class="accordion__body">
          <ul>
<li>Credit unions are not-for-profit financial cooperatives that exist to serve their members. The members are the owners of their credit union, and there are no outside stockholders. This cooperative structure is the reason credit unions are exempt from some taxes.</li>
<li>Credit union earnings are used to meet members’ needs. Banks are in business to make profits for their stockholders, who may not even be bank customers.</li>
<li>Credit unions serve those in their approved fields of membership.</li>
<li>In a credit union, the members elect a board of directors to represent them, and all directors are credit union members. They volunteer their time to serve the cooperative.</li>
</ul>




        </div>
      </div>
      </div>

  
  <div id="section-2800" class="paragraph content paragraph--type--accordion-item paragraph--view-mode--default js-accordion__panel">
          
  <h4 class="js-accordion__header" data-drupal-selector="accordion-title">How can I tell if I’m eligible to join Vertigo Credit Union?</h4>

      <div class="js-accordion__panel">
        <div class="accordion__body">
          <p>It's easy to join us. <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="ae08051f-b541-4196-a871-9a67cd332181" href="../../why-vacu/become-a-member/who-can-join.html" title="Who Can Join?">Learn more about joining</a> or contact Member Services at 804-323-6800 or 800-285-6609 so we can help you.</p>




        </div>
      </div>
      </div>

  
  <div id="section-2801" class="paragraph content paragraph--type--accordion-item paragraph--view-mode--default js-accordion__panel">
          
  <h4 class="js-accordion__header" data-drupal-selector="accordion-title">Is Vertigo Credit Union federally insured?</h4>

      <div class="js-accordion__panel">
        <div class="accordion__body">
          <p>Yes, Vertigo Credit Union is <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="d1fb654d-c123-49d7-80c9-853e05b20007" href="../checking-and-savings/insurance-on-deposits.html" title="Federal Insurance on Your Deposits">federally insured by the National Credit Union Administration</a>, a U.S. Government Agency.</p>




        </div>
      </div>
      </div>


  </div>
</div>
  
          </div>
      
  </div>

</article>

  </div>
<div id="block-wasthishelpfulblock" class="block block-vacu-helpful block-vacu-helpful-survey-block clearfix">
  
    
      

  <span aria-hidden="true"></span>
<div class="m-form m-form--help-support help-topic">
  <h2 class="m-form__heading">Did you find the answer you were looking for?</h2>
  <div id="vacu_helpful_form"><form class="vacu-helpful-form" data-drupal-selector="vacu-helpful-form" action="https://www.vacu.org/help/membership/credit-union-faqs" method="post" id="vacu-helpful-form" accept-charset="UTF-8">
  <div class="thumbs-up-down-step">
          <div class="m-form__button-wrapper">
            <span class="m-form__button-icon"><i class="fas fa-thumbs-up"></i></span>

  <input class="m-form-item a-button a-button--primary js-form-submit form-submit" data-drupal-selector="thumbs-up" type="submit" id="thumbs-up" name="op" value="Yes"/>
</div><div class="m-form__button-wrapper">
          <span class="m-form__button-icon"><i class="fas fa-thumbs-down"></i></span>

  <input class="m-form-item a-button a-button--primary js-form-submit form-submit" data-drupal-selector="thumbs-down" type="submit" id="thumbs-down" name="op" value="No"/>
</div></div><input autocomplete="off" data-drupal-selector="form-brcvokbay2kargdrtz6iyq5vvh3qtooiwb-8kafgzbm" type="hidden" name="form_build_id" value="form-brCVokbAy2karGDrtZ6iyQ5Vvh3qtOoiwB-8KAfgzBM" />
<input data-drupal-selector="edit-vacu-helpful-form" type="hidden" name="form_id" value="vacu_helpful_form" />

</form>
</div>
  </div>

  </div>


          </div>
        
      </div>

    </main>
  </section>






<div class="banner__inner banner__call banner__spacer banner__call--grey-lighter">
  <div class="basic-page">
          <h2 class="h2--content-banner has-text-centered has-text-weight-bold">Still need help?</h2>
    
    
      <div class="columns is-centered is-6 is-variable call__cards">
        <div class="column is-narrow">
          <a href="https://apps.vacu.org/vwa/securemessage?_ga=2.75620947.798946943.1557327242-453107234.1557327242" class="column call__card">
            <i class="icon fal fa-envelope" title="email-envelope" aria-hidden="true" focusable="false"></i>
            <h4>Email Us</h4>
          </a>
        </div>
        <div class="column is-narrow">
          <a href="tel:+18043236800" class="column call__card">
            <i class="icon fal fa-phone" title="email-envelope" aria-hidden="true" focusable="false"></i>
            <h4>Call 804-323-6800</h4>
          </a>
        </div>
                <div class="column is-narrow">
          <a href="#" class="column call__card">
                          <i class="icon fal fa-university" title="email-envelope" aria-hidden="true" focusable="false"></i>
                        <h4>Visit a Branch</h4>
          </a>
        </div>
            </div>
  </div>
</div>

{% endblock %}