{% extends 'home/base.html' %}
{% load static %}
{% block title %}For Business{% endblock %}
{% block content %}
  <section class="hero">
    <div class="hero__product hero__product--product-landing">
      <div class="hero__ribbon-container">
        <svg viewBox="0 0 1440 75" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin">
    <defs>
        <linearGradient x1="41.452%" y1="104.317%" x2="45.25%" y2="67.059%" id="hero__ribbon-container--a">
            <stop stop-color="#579904" offset="0%"/>
            <stop stop-color="#95C623" offset="100%"/>
        </linearGradient>
        <linearGradient x1="50%" y1="174.28%" x2="50%" y2="-91.82%" id="hero__ribbon-container--b">
            <stop stop-color="#579904" offset="0%"/>
            <stop stop-color="#95C623" offset="100%"/>
        </linearGradient>
    </defs>
    <g fill-rule="nonzero" fill="none">
        <path transform="rotate(-109 568.568 241.955)" d="M982.448-216.863l-3.88-1.337-505.179 1349.027 40.241 13.856z" fill="url(#hero__ribbon-container--a)" opacity=".902"/>
        <path transform="scale(-1 1) rotate(-22 -452.582 1460.729)" d="M514.243 275.905L32.061 81.09l454.414 263.545z" fill="url(#hero__ribbon-container--b)" opacity=".704"/>
    </g>
</svg>
      </div>

              

                <div>        <div>    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_4_max_192/public/2019-05/business-meeting.jpg?h=0a92a000&amp;itok=F0QvzEri 192w, /sites/default/files/styles/new_16_4_max_384/public/2019-05/business-meeting.jpg?h=0a92a000&amp;itok=YNHOi48Z 384w, /sites/default/files/styles/new_16_4_max_768/public/2019-05/business-meeting.jpg?h=0a92a000&amp;itok=8PjVo4sp 768w, /sites/default/files/styles/new_16_4_max_1088/public/2019-05/business-meeting.jpg?h=0a92a000&amp;itok=wSWun_z0 1088w, /sites/default/files/styles/new_16_4_max_1536/public/2019-05/business-meeting.jpg?h=0a92a000&amp;itok=IbaS5-xm 1536w" sizes="100vw" src="sites/default/files/styles/new_16_4_max_192/public/2019-05/business-meeting6aa7.jpg?h=0a92a000&amp;itok=F0QvzEri" width="192" height="48" alt="man and woman having a business meeting" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
      
      <div class="container">
        <div class="hero__inner-container hero__text-inverted">
          <h1 class="h1--banner basic-title" property="schema:name">For Business</h1>
                      <h2 class="subtitle">

                <div class="content">        <div><p>Your business has unique needs. Our competitive products and services are designed to help you grow—and help your employees thrive.</p>

</div>
  </div>
          </h2>
                            </div>
      </div>
      
    </div>
  </section>
    
    
  <section class="section">
    <main role="main">
              <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      

      <div class="columns is-centered">
                                                                      <div class="main-content column">
            
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      




<article data-history-node-id="531" role="article" about="/for-business" class="product-landing full clearfix">
  <div class="container">
    <div class="columns links-menu">

      
      <a class="card-highlight is-2 is-offset-1-tablet column is-offset-2-tablet" href="#" aria-label="click to see more Checking &amp; Savings content">

           <div class="icon card-highlight__icon card__icon" aria-hidden="true">
       <svg class="checking" aria-hidden="true" focusable="false">
          <title>Checking</title>
          <use xlink:href="#checking"></use>
        </svg>
      </div>
    
    <h3 class="card-highlight__title">Checking &amp; Savings</h3>
  
  </a>

      
      <a class="card-highlight is-2 is-offset-1-tablet column " href="#" aria-label="click to see more Loans &amp; Credit Cards content">

           <div class="icon card-highlight__icon card__icon" aria-hidden="true">
       <svg class="business-loans" aria-hidden="true" focusable="false">
          <title>Business Loans</title>
          <use xlink:href="#business-loans"></use>
        </svg>
      </div>
    
    <h3 class="card-highlight__title">Loans &amp; Credit Cards</h3>
  
  </a>

      
      <a class="card-highlight is-2 is-offset-1-tablet column " href="{% url 'for-business' %}#merchant" aria-label="click to see more Merchant &amp; Payroll Services content">

           <div class="icon card-highlight__icon card__icon" aria-hidden="true">
       <svg class="calculator-account" aria-hidden="true" focusable="false">
          <title>Calculator Account</title>
          <use xlink:href="#calculator-account"></use>
        </svg>
      </div>
    
    <h3 class="card-highlight__title">Merchant &amp; Payroll Services</h3>
  
  </a>
    </div>
  </div>


  
  <div class="content-container">
    

          <div>
                      <div>
    

  <div id="section-1187" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Checking &amp; Savings</h2>

              <div class="product-card__content">
          

                <div class="content">        <div><p>Whether you need business checking or a longer-term savings product, our flexible deposit options can help your business thrive.</p>


</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="#" class="vacu-button vacu-button--primary vacu-button--wide">Review business accounts</a>
            <a href="#" class="vacu-button vacu-button--ghost vacu-button--wide">See rates</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/business-accounts26a2.jpg' %}?itok=ZJUUJVkw" width="300" height="300" alt="cashier handing card back to customer" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url(sites/default/files/styles/new_1_1_max_300/public/2019-05/business-accounts26a2.jpg?itok=ZJUUJVkw)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
                      <div>
    

  <div id="section-1188" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Loans</h2>

              <div class="product-card__content">
          

                <div class="content">        <div><p>With a fair interest rate, our <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="96c8de48-74c0-4dde-a725-8313d0ec6063" href="#" title="VACU Business Lending Team">business lending team</a> helps your organization grow with working capital to give you the freedom to save and spend on the things that matter.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="7329e4f6-68fa-459f-9998-1041343cd39e" href="#" title="Business Loans">Commercial Mortgages</a></p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="7329e4f6-68fa-459f-9998-1041343cd39e" href="#" title="Business Loans">Loans and Lines of Credit</a></p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="7329e4f6-68fa-459f-9998-1041343cd39e" href="#" title="Business Loans">Credit Cards</a></p>


</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="#" class="vacu-button vacu-button--primary vacu-button--wide">See loan products</a>
            <a href="https://apps.vacu.org/vwa/BusinessLeadForm" class="vacu-button vacu-button--ghost vacu-button--wide">Contact us</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/business-loansad79.jpg' %}?itok=psNu_T12" width="300" height="300" alt="two men meeting while sitting in chairs" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url({% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/business-loansad79.jpg' %}?itok=psNu_T12)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
                      <div>
    

  <div id="section-6344" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Merchant &amp; Payroll Services</h2>

              <div class="product-card__content">
          

                <div class="content">        <div><h5 id="merchant"> </h5>
<p>We’re partnering with Fitech by Deluxe to offer our business members two new services.  With Merchant Services, you can accept card payments in a variety of convenient ways that works best for your business. Payroll Solutions is more than just direct deposit—it can integrate your HR and tax systems in one platform.</p>
<p><a href="https://connect.firstonboard.net/Merchant/cd10c882-c7e8-ec11-a32d-e4434bbc6e44">Start Merchant Services Application</a></p>
<p><a href="https://outlook.office365.com/owa/calendar/PayrollHRSolutions2544866@Deluxe.onmicrosoft.com/bookings/">Schedule Payroll Consultation</a></p>


</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="https://fitech.com/fidlxinstitutions/virginia-credit-union/" class="vacu-button vacu-button--primary vacu-button--wide">Learn about Merchant Services</a>
            <a href="https://www.deluxe.com/business-operations/hr/client-referral-program/vacu/" class="vacu-button vacu-button--ghost vacu-button--wide">Learn about Payroll Services</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2022-05/GettyImages-1287222477%20(1)0818.jpg' %}?h=a8406d97&amp;itok=OkC1R5IX" width="300" height="300" alt="payroll services" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url(sites/default/files/styles/new_1_1_max_300/public/2022-05/GettyImages-1287222477%20(1)0818.jpg?h=a8406d97&amp;itok=OkC1R5IX)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
                      <div>
    

  <div id="section-1189" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Business Membership Benefits</h2>

              <div class="product-card__content">
          

                <div class="content">        <div><p>As a member and business owner, you can enjoy lower fees, lower rates, and a dedicated team focused on your goals. We take care of your business finances – and your people, too. We provide financial education, benefits and wellness fairs, and investment consultation to help your employees take their paychecks further.</p>


</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="#" class="vacu-button vacu-button--primary vacu-button--wide">See membership benefits</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/business-benefits_0c470.jpg' %}?itok=o0Jv3pbP" width="300" height="300" alt="business meeting" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url({% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/business-benefits_0c470.jpg' %}?itok=o0Jv3pbP)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
          </div>
      

          <div>
                      <div>
  <div id="section-2375" class="paragraph paragraph--type--call-us-banner paragraph--view-mode--default">
          



<div class="banner__inner banner__call banner__spacer banner__call--blue-dark">
  <div class="basic-page">
          <h2 class="h2--content-banner has-text-centered has-text-weight-bold">Business Services</h2>
    
    
      <div class="columns is-centered is-6 is-variable call__cards">
        <div class="column is-narrow">
          <a href="mailto:VACUBusinessServices@vacu.org" class="column call__card">
            <i class="icon fal fa-envelope" title="email-envelope" aria-hidden="true" focusable="false"></i>
            <h4>Email Us</h4>
          </a>
        </div>
        <div class="column is-narrow">
          <a href="tel:+18043236800" class="column call__card">
            <i class="icon fal fa-phone" title="email-envelope" aria-hidden="true" focusable="false"></i>
            <h4>Call 804-323-6800</h4>
          </a>
        </div>
                <div class="column is-narrow">
          <a href="#" class="column call__card">
                          

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-file-signature " data-fa-transform="" data-fa-mask="" title="fa-file-signature" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
                        <h4>Get Forms</h4>
          </a>
        </div>
            </div>
  </div>
</div>
      </div>
</div>
  
                      <div>





  
<section class="o-section o-section--padding-bottom--md o-section--padding-top--md" id="section-3851">
  
  

  <div class="l-container l-container--width--md">
          


<div class="o-section__row">
  



  


<ul class="a-grid a-grid--flex a-grid--gutter--lg a-grid--success-stories" id="section-3850">
  
  

          <li class="a-grid__item">
    





  




<div class="m-editor m-editor--resources-header">
  
  

  <div class="m-editor__wrapper">
          <h2>Business Success Stories</h2>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="93e45903-73c8-4154-a3b8-1f62744314e1" href="#" title="Business Success Stories">See More Success Stories</a></p>



      </div>
</div>

  </li>
  <li class="a-grid__item">
    










<article class="m-card m-card--article">
  
  

      <div class="m-card__image">
              



<div class="a-media a-media--logo">
      <figure>
      <img src="{% static 'sites/default/files/success-stories/2019-05/JLCC-Circle-Logo-01-2-2-300x300.png' %}" alt="Jefferson Lakeside Country Club logo"/>
          </figure>
  </div>
          </div>
  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

                  



<p class="a-eyebrow a-eyebrow--with-icon">
            



<span class="a-icon"><span class="fontawesome-icon-inline"><span class="fa-award fal" data-fa-transform="" data-fa-mask="" title=" content" aria-hidden="true" focusable="false"></span></span></span>        <span class="a-eyebrow__content">Success Stories</span>
</p>
        
                  





  <h3 class="a-heading m-card__heading">
    <a href="#">VACU helps Jefferson Lakeside Country Club with major project</a>
  </h3>

                                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

  </li>
  <li class="a-grid__item">
    










<article class="m-card m-card--article">
  
  

      <div class="m-card__image">
              



<div class="a-media a-media--logo">
      <figure>
      <img src="{% static 'sites/default/files/success-stories/2019-05/25395965_688936977978482_5044571925902534088_n.jpg' %}" alt="Hotel Weyanoke Logo"/>
          </figure>
  </div>
          </div>
  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

                  



<p class="a-eyebrow a-eyebrow--with-icon">
            



<span class="a-icon"><span class="fontawesome-icon-inline"><span class="fa-award fal" data-fa-transform="" data-fa-mask="" title=" content" aria-hidden="true" focusable="false"></span></span></span>        <span class="a-eyebrow__content">Success Stories</span>
</p>
        
                  





  <h3 class="a-heading m-card__heading">
    <a href="#">Vertigo Credit Union Helps History Come Alive</a>
  </h3>

                                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

  </li>
  <li class="a-grid__item">
    










<article class="m-card m-card--article">
  
  

      <div class="m-card__image">
              



<div class="a-media a-media--logo">
      <figure>
      <img src="{% static 'sites/default/files/success-stories/2019-05/VHL_Logo.jpg' %}" alt="Virginia Hospital Laundry Logo"/>
          </figure>
  </div>
          </div>
  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

                  



<p class="a-eyebrow a-eyebrow--with-icon">
            



<span class="a-icon"><span class="fontawesome-icon-inline"><span class="fa-award fal" data-fa-transform="" data-fa-mask="" title=" content" aria-hidden="true" focusable="false"></span></span></span>        <span class="a-eyebrow__content">Success Stories</span>
</p>
        
                  





  <h3 class="a-heading m-card__heading">
    <a href="#">Virginia Hospital Laundry Serving Healthcare Industry Needs </a>
  </h3>

                                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

  </li>

    </ul>
</div>


    </div>
</section>
</div>
  
          </div>
      
  </div>

</article>

  </div>


          </div>
        
      </div>

    </main>
  </section>

{% endblock %}