{% extends 'home/base.html' %}
{% load static %}
{% block title %}Learn{% endblock %}
{% block content %}
  <section class="hero">
    <div class="hero__product hero__product--product-suite">
      <div class="hero__ribbon-container">
        <svg viewBox="0 0 1440 75" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin">
    <defs>
        <linearGradient x1="41.452%" y1="104.317%" x2="45.25%" y2="67.059%" id="hero__ribbon-container--a">
            <stop stop-color="#579904" offset="0%"/>
            <stop stop-color="#95C623" offset="100%"/>
        </linearGradient>
        <linearGradient x1="50%" y1="174.28%" x2="50%" y2="-91.82%" id="hero__ribbon-container--b">
            <stop stop-color="#579904" offset="0%"/>
            <stop stop-color="#95C623" offset="100%"/>
        </linearGradient>
    </defs>
    <g fill-rule="nonzero" fill="none">
        <path transform="rotate(-109 568.568 241.955)" d="M982.448-216.863l-3.88-1.337-505.179 1349.027 40.241 13.856z" fill="url(#hero__ribbon-container--a)" opacity=".902"/>
        <path transform="scale(-1 1) rotate(-22 -452.582 1460.729)" d="M514.243 275.905L32.061 81.09l454.414 263.545z" fill="url(#hero__ribbon-container--b)" opacity=".704"/>
    </g>
</svg>
      </div>

              

                <div>        <div>    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_4_max_192/public/2019-06/workinggroup.jpg?itok=ekwUHOz0 192w, /sites/default/files/styles/new_16_4_max_384/public/2019-06/workinggroup.jpg?itok=XQOZ716l 384w, /sites/default/files/styles/new_16_4_max_768/public/2019-06/workinggroup.jpg?itok=k_SrQlGw 768w, /sites/default/files/styles/new_16_4_max_1088/public/2019-06/workinggroup.jpg?itok=6umcq6aW 1088w, /sites/default/files/styles/new_16_4_max_1536/public/2019-06/workinggroup.jpg?itok=7y6eaSxp 1536w" sizes="100vw" src="sites/default/files/styles/new_16_4_max_192/public/2019-06/workinggroup11c7.jpg?itok=ekwUHOz0" width="192" height="128" alt="working group" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
      
      <div class="container">
        <div class="hero__inner-container hero__text-inverted">
          <h1 class="h1--banner basic-title" property="schema:name">Learn</h1>
                      <h2 class="subtitle">

                <div class="content">        <div><p>Tools and resources to help you live more confidently.</p>

</div>
  </div>
          </h2>
                            </div>
      </div>
      
    </div>
  </section>
    
    
  <section class="section">
    <main role="main">
              <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      

      <div class="columns is-centered">
                                                                      <div class="main-content column">
            
              <div class="views-element-container block block-views block-views-blockresources-categories-list-block-1 clearfix container" id="block-views-block-resources-categories-list-block-1">
  
    
      <div><div class="js-view-dom-id-c05214108f9bf23d66377b9dbcfdb89bb3a082585c43d1c2498b384267511d5d">
  
  
  

  
  
  

  
  <div class="views-view-grid columns-4">
            <div class="columns views-row columns row-1">
                  <div class="column">
            
<div about="/learn/your-credit" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-credit-card " data-fa-transform="" data-fa-mask="" title="fa-credit-card" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/your-credit.html">

                <div>        <div>Your Credit</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Get started on the road to using your credit wisely.</p>

</div>
  </div>
          
    
  
</div>

          </div>
                  <div class="column">
            
<div about="/learn/your-home" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-home-lg " data-fa-transform="" data-fa-mask="" title="fa-home-lg" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/your-home.html">

                <div>        <div>Your Home</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Get the confidence you need to make smart decisions about buying a home.</p>

</div>
  </div>
          
    
  
</div>

          </div>
                  <div class="column">
            
<div about="/learn/your-car" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-car " data-fa-transform="" data-fa-mask="" title="fa-car" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/your-car.html">

                <div>        <div>Your Car</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Our resources and tools help you get behind the wheel.</p>

</div>
  </div>
          
    
  
</div>

          </div>
                  <div class="column">
            
<div about="/learn/financial-management" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-tasks-alt " data-fa-transform="" data-fa-mask="" title="fa-tasks-alt" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/financial-management.html">

                <div>        <div>Financial Management</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Information to help you feel confident about managing your money.</p>

</div>
  </div>
          
    
  
</div>

          </div>
              </div>
          <div class="columns views-row columns row-2">
                  <div class="column">
            
<div about="/learn/financial-education" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-book " data-fa-transform="" data-fa-mask="" title="fa-book" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/financial-education.html">

                <div>        <div>Financial Education</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Learning opportunities for adults &amp; young people to build financial confidence.</p>

</div>
  </div>
          
    
  
</div>

          </div>
                  <div class="column">
            
<div about="/learn/life-events" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-calendar-alt " data-fa-transform="" data-fa-mask="" title="fa-calendar-alt" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/life-events.html">

                <div>        <div>Life Events</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Find out how to prepare for life's upcoming, or unexpected events.</p>

</div>
  </div>
          
    
  
</div>

          </div>
                  <div class="column">
            
<div about="/learn/security" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-lock-alt " data-fa-transform="" data-fa-mask="" title="fa-lock-alt" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="learn/security.html">

                <div>        <div>Security</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Protect yourself with knowledge and helpful resources.</p>

</div>
  </div>
          
    
  
</div>

          </div>
                  <div class="column">
            
<div about="/help-support" class="card__category">
      <div class="card__icon">
      

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-life-ring " data-fa-transform="" data-fa-mask="" title="fa-life-ring" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
    </div>
  
  
      <h3 class="card__title"><a href="help.html">

                <div>        <div>Help &amp; Support</div>
  </div>
          </a></h3>
    

                <div class="content">        <div><p>Have a question? We can help with frequently asked questions and resources.</p>

</div>
  </div>
          
    
  
</div>

          </div>
              </div>
      </div>

    

  
  

  
  
</div>
</div>

  </div>
<div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      


  

<article data-history-node-id="725" role="article" about="/learn" class="product-suite full clearfix">

  
    

  
  <div class="content-container">

    <div class="container c-banner c-banner--top"></div>
    
    
    

    
    
        
    
    

  </div>

</article>

  </div>
<div class="views-element-container block block-views block-views-blockresource-articles-by-type-block-2 clearfix container panel" id="block-views-block-resource-articles-by-type-block-2">
  
      <h2 class="has-text-centered">Latest</h2>
    
        <div class="">
    <div><div class="js-view-dom-id-d951c314bf3e2191657312edb4a6e4f689f1fbca3659967da342dbb892703381">
  
  
  

  
  
  

  
  <div class="views-view-grid columns-3">
            <div class="views-row columns row-1">
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1168" role="article" about="/learn/financial-management/saving-and-investing/financial-success-for-kids-kyle-keeps-track-of-cash" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/saving-and-investing/financial-success-for-kids-kyle-keeps-track-of-cash.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div>





<div class="a-media">
         <figure>
          
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/2022-02/Website-tile-Kyle.jpg?itok=zs8xtee2 375w, /sites/default/files/styles/new_16_9_max_480/public/2022-02/Website-tile-Kyle.jpg?itok=SLPPLO2t 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/2022-02/Website-tile-Kylef381.jpg?itok=zs8xtee2" width="375" height="211" alt="Financial Success for Kids Kyle Keeps Track of Cash" loading="lazy" typeof="foaf:Image" />
</figure>



          </figure>
  </div>
</div>
  </div>
          
              </figure>

    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-video" data-fa-transform="" data-fa-mask="" title="Video content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Video</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Financial Success for Kids: Kyle Keeps Track of Cash</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Financial Success for Kids: Kyle Keeps Track of Cash
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1307" role="article" about="/learn/financial-management/managing-your-money/webinar-balance-your-holiday-spending" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/managing-your-money/webinar-balance-your-holiday-spending.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div class="article-image">    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2022-11/Website-tile-holiday.jpg?itok=hPhdFaB6 375w, /sites/default/files/styles/new_16_9_max_480/public/article-featured-image/2022-11/Website-tile-holiday.jpg?itok=NhIlctwO 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2022-11/Website-tile-holiday5990.jpg?itok=hPhdFaB6" width="375" height="211" alt="A couple doing some holiday shopping" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
              </figure>

    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-video" data-fa-transform="" data-fa-mask="" title="Video content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Video</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Webinar: Balance Your Holiday Spending</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Webinar: Balance Your Holiday Spending
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1210" role="article" about="/learn/financial-management/managing-your-money/webinar-the-why-behind-buying" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/managing-your-money/webinar-the-why-behind-buying.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div>





<div class="a-media">
         <figure>
          
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/2022-07/Website-tile-buying.jpg?itok=Tz1RHKGt 375w, /sites/default/files/styles/new_16_9_max_480/public/2022-07/Website-tile-buying.jpg?itok=9KZ5lubz 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/2022-07/Website-tile-buyingf01e.jpg?itok=Tz1RHKGt" width="375" height="211" alt="A man making a credit card purchase on his mobile phone " loading="lazy" typeof="foaf:Image" />
</figure>



          </figure>
  </div>
</div>
  </div>
          
              </figure>

    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-video" data-fa-transform="" data-fa-mask="" title="Video content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Video</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Webinar: The Why Behind Buying</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Webinar: The Why Behind Buying
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
              </div>
      </div>

    

  
  

      <footer>
      <div class="button-group columns is-centered">
<a href="learn/latest.html" class="vacu-button vacu-button--ghost vacu-button--wide vacu-button--learn-more" aria-label="see our latest resources">View More</a>
</div>



    </footer>
  
  
</div>
</div>

      </div>
  </div>
<div class="views-element-container block block-views block-views-blockresource-articles-by-type-block-3 clearfix container panel" id="block-views-block-resource-articles-by-type-block-3">
  
      <h2 class="has-text-centered">Insider Tips</h2>
    
        <div class="">
    <div><div class="js-view-dom-id-6a826b5ece0af8452bfb0bb3defd24c5028796b9586aeabac8c24c1a789a799c">
  
  
  

  
  
  

  
  <div class="views-view-grid columns-3">
            <div class="views-row columns row-1">
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1159" role="article" about="/learn/your-home/home-buying/financing-your-dream-home-with-a-construction-loan" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/your-home/home-buying/financing-your-dream-home-with-a-construction-loan.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div class="article-image">    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2022-01/GettyImages-57224070%20web.jpg?itok=ev0QwKmW 375w, /sites/default/files/styles/new_16_9_max_480/public/article-featured-image/2022-01/GettyImages-57224070%20web.jpg?itok=TffG0f-1 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2022-01/GettyImages-57224070%20webe933.jpg?itok=ev0QwKmW" width="375" height="287" alt="Couple looking at a blueprint of their new home" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
              </figure>

    
          <figure class="card__author image">
        <img class="is-rounded" src="{% static 'sites/default/files/2019-04/Stevens_Laura2.jpg' %}" alt="Laura Stevens"/>
      </figure>
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-piggy-bank" data-fa-transform="" data-fa-mask="" title="Insider Tip content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Insider Tip</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Financing Your Dream Home with a Construction Loan</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Financing Your Dream Home with a Construction Loan
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="462" role="article" about="/learn/financial-management/budgeting/youre-engaged-now-what" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/budgeting/youre-engaged-now-what.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div class="article-image">    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/article-featured-image/migrated//sites/default/files/2018-10/MediaHandler_18.jpg?itok=C4_QATDV 375w, /sites/default/files/styles/new_16_9_max_480/public/article-featured-image/migrated//sites/default/files/2018-10/MediaHandler_18.jpg?itok=1nHtLXBz 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/article-featured-image/migrated/sites/default/files/2018-10/MediaHandler_1847fa.jpg?itok=C4_QATDV" width="375" height="250" alt="A happy young couple showing off the engagement ring." loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
              </figure>

    
          <figure class="card__author image">
        <img class="is-rounded" src="sites/default/files/2019-04/Allison-Blog.png" alt="Allison, VACU Insider"/>
      </figure>
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-piggy-bank" data-fa-transform="" data-fa-mask="" title="Insider Tip content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Insider Tip</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>You’re engaged, now what?</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about You’re engaged, now what?
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="888" role="article" about="/learn/financial-management/managing-your-money/tips-for-staying-calm-during-uncertainty" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/managing-your-money/tips-for-staying-calm-during-uncertainty.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div class="article-image">    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2020-03/stay-calm_0.jpg?itok=FOebUhB9 375w, /sites/default/files/styles/new_16_9_max_480/public/article-featured-image/2020-03/stay-calm_0.jpg?itok=mX6WU-f7 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2020-03/stay-calm_0e7ac.jpg?itok=FOebUhB9" width="375" height="250" alt="man and woman preparing finances and reading" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
              </figure>

    
          <figure class="card__author image">
        <img class="is-rounded" src="{% static 'sites/default/files/2019-05/Sylvia_Blog.png' %}" alt="Sylvia, VACU Insider"/>
      </figure>
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-piggy-bank" data-fa-transform="" data-fa-mask="" title="Insider Tip content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Insider Tip</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Tips for Staying CALM During Uncertainty</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Tips for Staying CALM During Uncertainty
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
              </div>
      </div>

    

  
  

      <footer>
      <div class="button-group columns is-centered">
  <a href="#" class="vacu-button vacu-button--ghost vacu-button--wide vacu-button--learn-more" aria-label="see more courses">View More</a>
</div>



    </footer>
  
  
</div>
</div>

      </div>
  </div>
<div class="views-element-container block block-views block-views-blockresource-articles-by-type-block-5 clearfix container panel" id="block-views-block-resource-articles-by-type-block-5">
  
      <h2 class="has-text-centered">Videos</h2>
    
        <div class="">
    <div><div class="js-view-dom-id-9c8c8c15dc53ece0d3f232a365d473cf83a7740bf8cd82a74b24d43f7c20d683">
  
  
  

  
  
  

  
  <div class="views-view-grid columns-3">
            <div class="views-row columns row-1">
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1168" role="article" about="/learn/financial-management/saving-and-investing/financial-success-for-kids-kyle-keeps-track-of-cash" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/saving-and-investing/financial-success-for-kids-kyle-keeps-track-of-cash.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div>





<div class="a-media">
         <figure>
          
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/2022-02/Website-tile-Kyle.jpg?itok=zs8xtee2 375w, /sites/default/files/styles/new_16_9_max_480/public/2022-02/Website-tile-Kyle.jpg?itok=SLPPLO2t 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/2022-02/Website-tile-Kylef381.jpg?itok=zs8xtee2" width="375" height="211" alt="Financial Success for Kids Kyle Keeps Track of Cash" loading="lazy" typeof="foaf:Image" />
</figure>



          </figure>
  </div>
</div>
  </div>
          
              </figure>

    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-video" data-fa-transform="" data-fa-mask="" title="Video content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Video</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Financial Success for Kids: Kyle Keeps Track of Cash</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Financial Success for Kids: Kyle Keeps Track of Cash
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1307" role="article" about="/learn/financial-management/managing-your-money/webinar-balance-your-holiday-spending" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/managing-your-money/webinar-balance-your-holiday-spending.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div class="article-image">    
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2022-11/Website-tile-holiday.jpg?itok=hPhdFaB6 375w, /sites/default/files/styles/new_16_9_max_480/public/article-featured-image/2022-11/Website-tile-holiday.jpg?itok=NhIlctwO 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/article-featured-image/2022-11/Website-tile-holiday5990.jpg?itok=hPhdFaB6" width="375" height="211" alt="A couple doing some holiday shopping" loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
              </figure>

    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-video" data-fa-transform="" data-fa-mask="" title="Video content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Video</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Webinar: Balance Your Holiday Spending</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Webinar: Balance Your Holiday Spending
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="1210" role="article" about="/learn/financial-management/managing-your-money/webinar-the-why-behind-buying" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/financial-management/managing-your-money/webinar-the-why-behind-buying.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
      <figure class="card__background image">
                  

                <div>        <div>





<div class="a-media">
         <figure>
          
<figure class="image">
  <img srcset="/sites/default/files/styles/new_16_9_max_375/public/2022-07/Website-tile-buying.jpg?itok=Tz1RHKGt 375w, /sites/default/files/styles/new_16_9_max_480/public/2022-07/Website-tile-buying.jpg?itok=9KZ5lubz 480w" sizes="(min-width:768px) 375px, 100vw" src="sites/default/files/styles/new_16_9_max_375/public/2022-07/Website-tile-buyingf01e.jpg?itok=Tz1RHKGt" width="375" height="211" alt="A man making a credit card purchase on his mobile phone " loading="lazy" typeof="foaf:Image" />
</figure>



          </figure>
  </div>
</div>
  </div>
          
              </figure>

    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-video" data-fa-transform="" data-fa-mask="" title="Video content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Video</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>Webinar: The Why Behind Buying</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about Webinar: The Why Behind Buying
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
              </div>
      </div>

    

  
  

      <footer>
      <div class="button-group columns is-centered">
  <a href="learn/video.html" class="vacu-button vacu-button--ghost vacu-button--wide vacu-button--learn-more" aria-label="see more videos">View More</a>
</div>



    </footer>
  
  
</div>
</div>

      </div>
  </div>
<div class="views-element-container block block-views block-views-blockresource-articles-by-type-block-4 clearfix container panel" id="block-views-block-resource-articles-by-type-block-4">
  
      <h2 class="has-text-centered">Calculators</h2>
    
        <div class="">
    <div><div class="js-view-dom-id-ed4d0c5e0f6b10bd4a1bb0a948abe3fd7f8f339ff5235b608b3b8b6faa07fae2">
  
  
  

  
  
  

  
  <div class="views-view-grid columns-3">
            <div class="views-row columns row-1">
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="281" role="article" about="/learn/your-credit/debt-management/how-much-will-my-loan-payments-be" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/your-credit/debt-management/how-much-will-my-loan-payments-be.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-calculator-alt" data-fa-transform="" data-fa-mask="" title="Loans &amp; Repayment content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Loans &amp; Repayment</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>How much will my loan payments be?</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about How much will my loan payments be?
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="282" role="article" about="/learn/your-credit/debt-management/how-long-will-it-take-to-pay-off-my-credit-card" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/your-credit/debt-management/how-long-will-it-take-to-pay-off-my-credit-card.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-calculator-alt" data-fa-transform="" data-fa-mask="" title="Credit Card content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Credit Card</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>How long will it take to pay off my credit card?</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about How long will it take to pay off my credit card?
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
                  <div class="column" style="width: 33.333333333333%;">
            



<article data-history-node-id="300" role="article" about="/learn/your-home/mortgages/how-much-will-my-fixed-rate-mortgage-payments-be" typeof="schema:Article" class="column article teaser clearfix"><a href="learn/your-home/mortgages/how-much-will-my-fixed-rate-mortgage-payments-be.html" class="card box card__wrapper" data-aos="slide-up">
  <div class="card__header">
    
    
          <div class="card__type is-flex" aria-hidden="true">
        <div class="fontawesome-icon-inline">
  <span class="fal fa-calculator-alt" data-fa-transform="" data-fa-mask="" title="Home content" aria-hidden="true" focusable="false"></span>
</div>
        <small>Home</small>
      </div>
      </div>
  <div class="card__content">
          <h3 class="card__title"><span>How much will my fixed rate mortgage payments be?</span>
</h3>
    
    
    
    
  </div>
  <div class="card__footer">
          <span class="card__link arrow-link" aria-label="Read More about How much will my fixed rate mortgage payments be?
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
          <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
        </svg>
      </span>
      </div>
</a>
</article>

          </div>
              </div>
      </div>

    

  
  

      <footer>
      <div class="button-group columns is-centered">
  <a href="#" class="vacu-button vacu-button--ghost vacu-button--wide vacu-button--learn-more" aria-label="see more calculators">View More</a>
</div>



    </footer>
  
  
</div>
</div>

      </div>
  </div>


          </div>
        
      </div>

    </main>
  </section>
{% endblock %}