{% extends 'home/base.html' %}
{% load static %}
{% block title %}Services{% endblock %}  
{% block content %}
  <section class="hero">
    <div class="hero__product hero__product--product-landing">
      <div class="hero__ribbon-container">
        <svg viewBox="0 0 1440 75" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin">
    <defs>
        <linearGradient x1="41.452%" y1="104.317%" x2="45.25%" y2="67.059%" id="hero__ribbon-container--a">
            <stop stop-color="#579904" offset="0%"/>
            <stop stop-color="#95C623" offset="100%"/>
        </linearGradient>
        <linearGradient x1="50%" y1="174.28%" x2="50%" y2="-91.82%" id="hero__ribbon-container--b">
            <stop stop-color="#579904" offset="0%"/>
            <stop stop-color="#95C623" offset="100%"/>
        </linearGradient>
    </defs>
    <g fill-rule="nonzero" fill="none">
        <path transform="rotate(-109 568.568 241.955)" d="M982.448-216.863l-3.88-1.337-505.179 1349.027 40.241 13.856z" fill="url(#hero__ribbon-container--a)" opacity=".902"/>
        <path transform="scale(-1 1) rotate(-22 -452.582 1460.729)" d="M514.243 275.905L32.061 81.09l454.414 263.545z" fill="url(#hero__ribbon-container--b)" opacity=".704"/>
    </g>
</svg>
      </div>

              

                <div>        <div>    
<figure class="image">
  <img srcset="{% static 'sites/default/files/styles/new_16_4_max_192/public/2019-05/woman-on-phone_0.jpg' %}?h=1e3e8145&amp;itok=PGL_fMvi 192w, {% static 'sites/default/files/styles/new_16_4_max_384/public/2019-05/woman-on-phone_0.jpg' %}?h=1e3e8145&amp;itok=asGDIr0E 384w, {% static 'sites/default/files/styles/new_16_4_max_768/public/2019-05/woman-on-phone_0.jpg' %}?h=1e3e8145&amp;itok=iVz4xCnY 768w, {% static 'sites/default/files/styles/new_16_4_max_1088/public/2019-05/woman-on-phone_0.jpg' %}?h=1e3e8145&amp;itok=-cFWpyBc 1088w, {% static 'sites/default/files/styles/new_16_4_max_1536/public/2019-05/woman-on-phone_0.jpg' %}?h=1e3e8145&amp;itok=FrFIloL1 1536w" sizes="100vw" src="{% static 'sites/default/files/styles/new_16_4_max_192/public/2019-05/woman-on-phone_0663c.jpg' %}?h=1e3e8145&amp;itok=PGL_fMvi" width="192" height="48" alt="A woman on her smartphone." loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
      
      <div class="container">
        <div class="hero__inner-container hero__text-inverted">
          <h1 class="h1--banner basic-title" property="schema:name">Services</h1>
                      <h2 class="subtitle">

                <div class="content">        <div><p>Checking? Check. Savings? Saved. Once you have the basics in place, consider more services to put you on a path to financial confidence.</p>

</div>
  </div>
          </h2>
                            </div>
      </div>
      
    </div>
  </section>
    
    
  <section class="section">
    <main role="main">
              <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      

      <div class="columns is-centered">
                                                                      <div class="main-content column">
            
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      




<article data-history-node-id="8" role="article" about="/services" class="product-landing full clearfix">
  <div class="container">
    <div class="columns links-menu">

      
      <a class="card-highlight is-2 is-offset-1-tablet column is-offset-2-tablet" href="#" aria-label="click to see more Digital Banking content">

           <div class="icon card-highlight__icon card__icon" aria-hidden="true">
       <svg class="digital-banking" aria-hidden="true" focusable="false">
          <title>Digital Banking</title>
          <use xlink:href="#digital-banking"></use>
        </svg>
      </div>
    
    <h3 class="card-highlight__title">Digital Banking</h3>
  
  </a>

      
      <a class="card-highlight is-2 is-offset-1-tablet column " href="#" aria-label="click to see more Insurance content">

           <div class="icon card-highlight__icon card__icon" aria-hidden="true">
       <svg class="insurance" aria-hidden="true" focusable="false">
          <title>Insurance</title>
          <use xlink:href="#insurance"></use>
        </svg>
      </div>
    
    <h3 class="card-highlight__title">Insurance</h3>
  
  </a>

      
      <a class="card-highlight is-2 is-offset-1-tablet column " href="#" aria-label="click to see more Investing content">

           <div class="icon card-highlight__icon card__icon" aria-hidden="true">
       <svg class="investing" aria-hidden="true" focusable="false">
          <title>Investing</title>
          <use xlink:href="#investing"></use>
        </svg>
      </div>
    
    <h3 class="card-highlight__title">Investing</h3>
  
  </a>
    </div>
  </div>


  
  <div class="content-container">
    

          <div>
                      <div>
    

  <div id="section-943" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Digital Banking </h2>

              <div class="product-card__content">
          

                <div class="content">        <div><p>Bank with speed and convenience, whether you’re at your computer or on your smartphone. After you open an account, sign up for online and mobile<a aria-describedby="footnote-label" class="see-footnote" id="footnoteref1_i4wf42g" title="While mobile banking is free from VACU, please be aware that your mobile service provider may charge you for data plan usage, so check your plan before you start using the service." href="#footnote1_i4wf42g">1</a> banking to pay bills, make deposits, and much more. (Prefer phone calls? You can bank that way, too).</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="f6a4e719-b979-4c65-aa73-0be683a31801" href="#" title="Digital Banking">Online Banking</a></p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="f6a4e719-b979-4c65-aa73-0be683a31801" href="#" title="Digital Banking">Mobile Banking</a></p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="c0647ca3-fefa-4d24-b470-6845de08b1b9" href="#" title="QuikLine Phone Banking">Phone Banking</a></p>


<ul class="footnotes"><li class="footnote tiny" id="footnote1_i4wf42g"><a aria-label="Back to content" class="footnote-label" href="#footnoteref1_i4wf42g">1</a> <span>While mobile banking is free from VACU, please be aware that your mobile service provider may charge you for data plan usage, so check your plan before you start using the service.</span></li>
</ul>
</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="#" class="vacu-button vacu-button--primary vacu-button--wide">Learn more about Digital Banking</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/GettyImages-9519217809241.jpg' %}?itok=Be8-KdYy" width="300" height="200" alt="Mom and daughter using a laptop computer." loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url({% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/GettyImages-9519217809241.jpg' %}?itok=Be8-KdYy)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
                      <div>
    

  <div id="section-944" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Insurance</h2>

              <div class="product-card__content">
          

                <div class="content">        <div><p>Get peace of mind for an affordable price. Our partners’ insurance products protect your vehicles, belongings, home, pets, vacations – and your life.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="71e432a7-f76d-4a7f-a24d-94dcdff65e2f" href="#" title="Virginia CU Insurance Services">Insurance Services</a></p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="8a9b02a2-0387-4ecc-b894-7891da358f3f" href="#" title="Loan Payment Protection">Loan Payment Protection</a></p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="8fe1e2eb-7629-4655-a75b-231f99570244" href="#" title="Virginia Statewide Title Services">Title Services</a></p>


</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="services/insurance.html" class="vacu-button vacu-button--primary vacu-button--wide">Learn more about Insurance</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/GettyImages-943009174-reversed_05888.jpg' %}?itok=QBIzs7gY" width="300" height="273" alt="Family laughing on couch." loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url({% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/GettyImages-943009174-reversed_05888.jpg' %}?itok=QBIzs7gY)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
                      <div>
    

  <div id="section-945" class="paragraph paragraph--type--product-card paragraph--view-mode--default">
          <div class="container">
  <div class="product-card card columns">
    <div class="column is-6">

      <h2>Retirement &amp; Investments</h2>

              <div class="product-card__content">
          

                <div class="content">        <div><p>You’ve heard it before. We’ll say it again: It’s never too early to start saving for retirement. Put your money to work for your future.</p>


</div>
  </div>
          
        </div>
      
              <div class="buttons">
                        <a href="#" class="vacu-button vacu-button--primary vacu-button--wide">Learn more Retirement &amp; Investments</a>
        </div>
          </div>

    <div class="column is-offset-1 is-5">


                <div class="product-card__image">
          

                      

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/GettyImages-91536167696f1.jpg' %}?itok=hf4ixwe6" width="300" height="200" alt="Couple doing finances while relaxing. " loading="lazy" typeof="foaf:Image" />
</figure>


</div>
  </div>
          
            <div aria-hidden="true" focusable="false" role="presentation" class="product-card__feature--ie" style="background-image: url({% static 'sites/default/files/styles/new_1_1_max_300/public/2019-05/GettyImages-91536167696f1.jpg' %}?itok=hf4ixwe6)"></div>
          
                  </div>
      </div>
    </div>
  </div>
      </div>
</div>
  
          </div>
      
  </div>

</article>

  </div>


          </div>
        
      </div>

    </main>
  </section>

    
<div id="block-whyvacu" class="super-footer">
	<div class="header-section__ribbon-container">
		<svg viewbox="0 0 1440 75" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin">
      <g fill-rule="nonzero" fill="none">
          <path transform="rotate(-109 568.568 241.955)" d="M982.448-216.863l-3.88-1.337-505.179 1349.027 40.241 13.856z" fill="#fff" opacity=".404"></path>
          <path transform="scale(-1 1) rotate(-22 -452.582 1460.729)" d="M514.243 275.905L32.061 81.09l454.414 263.545z" fill="#fff" opacity=".202"></path>
      </g>
    </svg>
	</div>
	
	

                <div>        <div>  
<figure class="image">
  <img src="{% static 'sites/default/files/2019-04/GFAC-MURAL_web1-1.jpg' %}" width="1366" height="847" alt="A mural painted by VACU and Girls For A Change." loading="lazy" typeof="foaf:Image" />
</figure>

</div>
  </div>
          

	<div class="super-footer__content">
					
			<h2 class="h1">

                <div class="content">        <div>Why VACU?

</div>
  </div>
          </h2>
			
							<h2 class="super-footer__subtitle">

                <div class="content">        <div>At Vertigo Credit Union, you’re not just a member–you’re also an owner. And that has its benefits.

</div>
  </div>
          </h2>
							

          <div class="cards-grid__product container">
          <div class="columns ">
      

  <div id="section-1356" class="column is-one-third paragraph paragraph--type--feature-card paragraph--view-mode--teaser">
          
<div class="card card__feature card__feature--whyvacu card__flat box">

<div class="column bracket">
      <h3 class="card__title has-text-weight-bold">

                <div class="content">        <div>Convenient,<br />easy access

</div>
  </div>
          </h3>
  </div>

  <a class="card__link arrow-link" href="#" aria-label="Read More about Find a branch">Find a branch</a>
</div>
      </div>

        

  <div id="section-1357" class="column is-one-third paragraph paragraph--type--feature-card paragraph--view-mode--teaser">
          
<div class="card card__feature card__feature--whyvacu card__flat box">

<div class="column bracket">
      <h3 class="card__title has-text-weight-bold">

                <div class="content">        <div>We’re a credit union<br /> – not a bank

</div>
  </div>
          </h3>
  </div>

  <a class="card__link arrow-link" href="#" aria-label="Read More about Membership Benefits">Membership Benefits</a>
</div>
      </div>

      </div>
        <div class="columns ">
      

  <div id="section-1358" class="column is-one-third paragraph paragraph--type--feature-card paragraph--view-mode--teaser">
          
<div class="card card__feature card__feature--whyvacu card__flat box">

<div class="column bracket">
      <h3 class="card__title has-text-weight-bold">

                <div class="content">        <div>Better<br />rates

</div>
  </div>
          </h3>
  </div>

  <a class="card__link arrow-link" href="{% url 'banking' %}" aria-label="Read More about Personal Banking">Personal Banking</a>
</div>
      </div>

        

  <div id="section-1359" class="column is-one-third paragraph paragraph--type--feature-card paragraph--view-mode--teaser">
          
<div class="card card__feature card__feature--whyvacu card__flat box">

<div class="column bracket">
      <h3 class="card__title has-text-weight-bold">

                <div class="content">        <div>Education<br />and tools

</div>
  </div>
          </h3>
  </div>

  <a class="card__link arrow-link" href="{% url 'learn' %}" aria-label="Read More about Learning &amp; Planning">Learning &amp; Planning</a>
</div>
      </div>

      </div>
    </div>
  
			</div>
</div>



{% endblock %}