{% extends 'home/base.html' %}
{% load static %}
{% block title %}Why Vacu{% endblock %}
{% block content %}
<section class="o-hero o-hero--has-bkgimage o-hero--has-ribbon-top">
  
  

      <div class="o-hero__ribbon">
              <svg viewbox="0 0 1440 75" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMinYMin">
  <defs>
    <linearGradient x1="41.452%" y1="104.317%" x2="45.25%" y2="67.059%" id="a-green-sm">
      <stop stop-color="#579904" offset="0%"></stop>
      <stop stop-color="#95C623" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="174.28%" x2="50%" y2="-91.82%" id="b-green-sm">
      <stop stop-color="#579904" offset="0%"></stop>
      <stop stop-color="#95C623" offset="100%"></stop>
    </linearGradient>
  </defs>
  <g fill-rule="nonzero" fill="none">
    <path transform="rotate(-109 568.568 241.955)" d="M982.448-216.863l-3.88-1.337-505.179 1349.027 40.241 13.856z" fill="url(#a-green-sm)" opacity=".902"></path>
    <path transform="scale(-1 1) rotate(-22 -452.582 1460.729)" d="M514.243 275.905L32.061 81.09l454.414 263.545z" fill="url(#b-green-sm)" opacity=".704"></path>
  </g>
</svg>
          </div>
  
      <div class="o-hero__content-wrapper">

      

        <div class="o-hero__text-wrapper">
          <div class="l-container l-container--width--md">

            <div class="o-hero__content u-text--align--center">
                    



  


<ul class="a-grid a-grid--column-- a-grid--gutter--lg" id="section-4608">
  
  

            <li class="a-grid__item"><span class="m-editor">
            <h2>Banking with a personal touch.</h2>

<p>Whatever your idea of financial success looks like, we got you!</p>

</span>
            
                          <div class="o-hero__ctas o-hero__ctas--desktop">
                


  
    




<div class="m-button-group" id="section-4636"><div class="m-button-group__wrapper"><span><a href="why-vacu/become-a-member.html" class="a-button a-button--primary js-tracker-cta"  role="link">
      Become a member    </a></span></div></div>
  

              </div>
                      </li>
                  </ul>
              <div class="o-hero__ctas o-hero__ctas--mobile">
          


  
    




<div class="m-button-group"><div class="m-button-group__wrapper"><span><a href="why-vacu/become-a-member.html" class="a-button a-button--primary js-tracker-cta"  role="link">
      Become a member    </a></span></div></div>
  

        </div>
                      </div>
          </div>
        </div>

                  <div class="o-hero__bkgimage">
                    
<figure class="image">
  <img srcset="/sites/default/files/styles/max_325x325/public/2022-11/hero%20banner%20awareness%201115use.jpg?itok=xJdQ7bms 325w, /sites/default/files/styles/max_650x650/public/2022-11/hero%20banner%20awareness%201115use.jpg?itok=31UnAboV 650w, /sites/default/files/styles/max_1300x1300/public/2022-11/hero%20banner%20awareness%201115use.jpg?itok=KbbT7P3U 1300w, /sites/default/files/styles/max_2600x2600/public/2022-11/hero%20banner%20awareness%201115use.jpg?itok=KdOhcgkE 2048w" sizes="(min-width: 1290px) 1290px, 100vw" src="sites/default/files/styles/max_325x325/public/2022-11/hero%20banner%20awareness%201115use901f.jpg?itok=xJdQ7bms" width="325" height="244" alt="we got you" loading="lazy" typeof="foaf:Image" />
</figure>


              </div>
        

      
    </div>
  
</section>


            
        <section>
      <main role="main">         <div class="hero-footer">
      <div class="container">
          <div data-drupal-messages-fallback class="hidden"></div>


      </div>
    </div>
    
      <a id="main-content" tabindex="-1"></a>
      
      
      
            <div>
                                                                      <div class="main-content">
              <div id="block-bulma-content" class="block block-system block-system-main-block clearfix">
  
    
      







<article data-history-node-id="1082" role="article" about="/why-vacu" class="landing-page full clearfix">

  
    

  
  <div>
    

          <div>
                      <div>





  
<section class="o-section o-section--padding-bottom--md o-section--padding-top--lg" id="section-7690">
  
  

  <div class="l-container l-container--width--md">
          





  




<div class="m-editor" id="section-7689">
  
  

  <div class="m-editor__wrapper">
          <div class="columns js-three-col">
<div class="column is-two-thirds js-col1">
<h2>Why choose VACU?</h2>
<p>We’re in the business of confidence, providing you with the accounts, tools, education, and resources to give you the peace of mind that your future is financially secure.</p>
<p>When you join Vertigo Credit Union, you become a member and owner of the financial cooperative. Earnings are returned to you through a broad range of convenient services, attractive rates, lower fees, and more.</p>
<p><a class="vacu-button" data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="a1822542-1012-42c2-af6d-78fbdf6aa3ac" href="why-vacu/about-us.html" title="About Us">About us</a>   <a class="vacu-button vacu-button--ghost" data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="13ec0ee2-68f5-4e9a-9fc4-a44fa4e809b4" href="why-vacu/become-a-member.html" title="Become a Member">Become a member</a></p>
</div>
<div class="column is-one-third js-col2">
<div class="video-embed-field-provider-wistia-enhanced video-embed-field-responsive-video">
<script src="https://fast.wistia.com/embed/medias/guxtgizthb.jsonp" async></script>

<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;padding-bottom: 1em;">
  <span class="wistia_embed wistia_async_guxtgizthb popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
</div>

</div>

</div>
</div>



      </div>
</div>


    </div>
</section>
</div>
  
                      <div>





  
<section class="o-section o-section--bkgcolor--edf1f7 o-section--padding-bottom--md o-section--padding-top--md" id="section-4617">
  
  

  <div class="l-container l-container--width--md">
          





  




<div class="m-editor" id="section-4609">
  
  

  <div class="m-editor__wrapper u-margin-top--xs">
          <h2 class="text-align-center">Features &amp; Benefits</h2>



      </div>
</div>

  



<div class="o-section__row">
  



  


<ul class="a-grid a-grid--block--3-up a-grid--gutter--lg" id="section-4616">
  
  

        

            <li class="a-grid__item">
            









<article class="m-card m-card--feature">
  
  

  
  <div class="m-card__content">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-hands-heart " data-fa-transform="" data-fa-mask="" title="fa-hands-heart" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h3 class="a-heading m-card__heading">We’re a credit union. Not a bank.</h3>
                                      <div class="m-card__summary m-editor"><p>We don’t have shareholders, and we aren’t here to make a profit. As a not-for-profit organization, we serve our members — the owners of this financial cooperative.</p>

</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link m-card__link" href="why-vacu/about-us.html">
  See how we&#039;re different</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            









<article class="m-card m-card--feature">
  
  

  
  <div class="m-card__content">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-hand-holding-usd " data-fa-transform="" data-fa-mask="" title="fa-hand-holding-usd" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h3 class="a-heading m-card__heading">Lower fees (or no fees).</h3>
                                      <div class="m-card__summary m-editor"><p>Earnings are returned to members through a broad range of convenient services, attractive rates, lower fees and free financial education resources.</p>

</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link m-card__link" href="why-vacu/member-benefits.html">
  Learn more about member benefits</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            









<article class="m-card m-card--feature">
  
  

  
  <div class="m-card__content">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-hand-holding-seedling " data-fa-transform="" data-fa-mask="" title="fa-hand-holding-seedling" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h3 class="a-heading m-card__heading">Better rates.</h3>
                                      <div class="m-card__summary m-editor"><p>For saving, we offer attractive options for growing your money. If you need to borrow funds (whether business or personal), we offer lower rates on loans, mortgages, and credit cards.</p>

</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link m-card__link" href="why-vacu/rates.html">
  View our rates</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            









<article class="m-card m-card--feature">
  
  

  
  <div class="m-card__content">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-hands-helping " data-fa-transform="" data-fa-mask="" title="fa-hands-helping" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h3 class="a-heading m-card__heading">Local member support.</h3>
                                      <div class="m-card__summary m-editor"><p>It’s the first word in our name: Virginia. Find in-person support at 20 branches in central Virginia for all of your financial needs.</p>

</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link m-card__link" href="help/locations/branch-atm-locator.html">
  Find branches and ATMs</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            









<article class="m-card m-card--feature">
  
  

  
  <div class="m-card__content">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-school " data-fa-transform="" data-fa-mask="" title="fa-school" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h3 class="a-heading m-card__heading">Everything under one roof.</h3>
                                      <div class="m-card__summary m-editor"><p>Beyond everyday personal and business banking needs, we offer loans and mortgages, insurance, investments, and education through VACU and our affiliated partners.</p>

</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link m-card__link" href="services.html">
  View insurance or investment services</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

            <li class="a-grid__item">
            









<article class="m-card m-card--feature">
  
  

  
  <div class="m-card__content">

    <div class="l-inner">

              <div class="m-card__icon">
              

                <div>        <div><div class="fontawesome-icons">
      <div class="fontawesome-icon">
  <span class="fal fa-clock " data-fa-transform="" data-fa-mask="" title="fa-clock" aria-hidden="true" focusable="false"></span>
</div>

  </div>
</div>
  </div>
          
          </div>
            
      <div class="m-card__body">

        
                  




  <h3 class="a-heading m-card__heading">Convenient, 24/7 access to funds.</h3>
                                      <div class="m-card__summary m-editor"><p>With debit cards, online &amp; mobile banking, and our 24-hour QuikLine, you can access your account whenever you want, however you want.</p>

</div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                  


<a class="a-link m-card__link" href="services/digital-banking.html">
  Check out our digital tools</a>
                
                                                    </div>
        </div>
          </div>

  </div>
</article>

        </li>
    

    </ul>
</div>


    </div>
</section>
</div>
  
                      <div>





  
<section class="o-section o-section--padding-bottom--md o-section--padding-top--md" id="section-4627">
  
  

  <div class="l-container l-container--width--md">
          





  




<div class="m-editor" id="section-4618">
  
  

  <div class="m-editor__wrapper u-margin-top--md">
          <h2>Take a quick look at our services.</h2>



      </div>
</div>

  



<div class="o-section__row">
  



  


<ul class="a-grid a-grid--column--33-33-33 a-grid--gutter--lg" id="section-4622">
  
  

        

            <li class="a-grid__item">
            





  




<div class="m-editor" id="section-4619">
  
  

  <div class="m-editor__wrapper">
          <h4><span class="fontawesome-icon-inline"><span class="fa-wallet fas"></span> </span>Checking</h4>
<p>Open a free account with no minimums, or an account that requires a minimum balance – yet pays you back. No matter your needs, we have an account to fit them.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="20602382-cd98-4345-932c-f3b3ad457a68" href="banking/checking.html" title="Checking">View checking accounts</a></p>



      </div>
</div>

        </li>
    

            <li class="a-grid__item">
            





  




<div class="m-editor" id="section-4620">
  
  

  <div class="m-editor__wrapper">
          <h4><span class="fontawesome-icon-inline"><span class="fa-sack-dollar fas"></span> </span>Savings</h4>
<p>Make your money go further and reach your financial goals sooner. The longer you save, the more we pay back in dividends.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="598e3e88-c395-4942-94b9-128b3678378c" href="banking/savings.html" title="Savings">View savings services</a></p>



      </div>
</div>

        </li>
    

            <li class="a-grid__item">
            





  




<div class="m-editor" id="section-4621">
  
  

  <div class="m-editor__wrapper">
          <h4><span class="fontawesome-icon-inline"><span class="fa-credit-card-front fas"></span> </span>Credit Cards</h4>
<p>Choose from three great cards — each with low rates, awesome features, no annual fees, and all the benefits of Mastercard®.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="16a56842-d37c-40cd-9462-3912de10894c" href="banking/credit-cards.html" title="Credit Cards">See all cards</a></p>



      </div>
</div>

        </li>
    

    </ul>
</div>

  



<div class="o-section__row">
  



  


<ul class="a-grid a-grid--column--33-33-33 a-grid--gutter--lg" id="section-4626">
  
  

        

            <li class="a-grid__item">
            





  




<div class="m-editor" id="section-4623">
  
  

  <div class="m-editor__wrapper">
          <h4><span class="fontawesome-icon-inline"><span class="fa-home-heart fas"></span> </span>Mortgages</h4>
<p>From finding the right home to closing on a mortgage with a great rate, we help you at every step of the buying process (not to mention, refinancing, and more).</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="e9caabc5-0541-4a34-8060-49b80cb43fbc" href="loans/mortgages/mortgage-options.html" title="Mortgage Options">Explore mortgage options</a></p>



      </div>
</div>

        </li>
    

            <li class="a-grid__item">
            





  




<div class="m-editor" id="section-4624">
  
  

  <div class="m-editor__wrapper">
          <h4><span class="fontawesome-icon-inline"><span class="fa-hand-holding-usd fas"></span> </span>Loans</h4>
<p>When you need money for a big purchase, we can help with a lending option that aligns with your financial profile.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="95dd7d1d-e02a-4f60-ae44-0e99c6536da4" href="loans.html" title="Loans">View loan products</a></p>



      </div>
</div>

        </li>
    

            <li class="a-grid__item">
            





  




<div class="m-editor" id="section-4625">
  
  

  <div class="m-editor__wrapper">
          <h4><span class="fontawesome-icon-inline"><span class="fa-shield-alt fas"></span> </span>Insurance</h4>
<p>Protect your family, home, vehicle, life events – and yourself – with our simple and affordable insurance products.</p>
<p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="78959376-06b9-4dac-a348-de5d8f32da6a" href="services/insurance.html" title="Insurance">View insurance products</a></p>



      </div>
</div>

        </li>
    

    </ul>
</div>


    </div>
</section>
</div>
  
                      <div>



      





<section class="o-banner o-banner--style--blue-cta" id="section-4632">
  
  

  <div class="o-banner__content u-text--align--center">
          <div class="l-container l-container--width--md">
                

          <div>
                      <div>





  




<div class="m-editor" id="section-4629">
  
  

  <div class="m-editor__wrapper">
          <h2 class="text-align-center">Become a member today.</h2>
<p class="text-align-center">Joining Vertigo Credit Union is easy. Apply securely online, or join in-person at one of <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="dcd07f0c-3b9b-4d22-9d84-c7cccabd779f" href="help/locations/branch-atm-locator.html" title="Branch &amp; ATM Locator">our local branches</a>. Need help? Call us at (804) 323-6800 or <a href="https://apps.vacu.org/vwa/securemessage">email us</a>.</p>



      </div>
</div>
</div>
  
                      <div>


  
    




<div class="m-button-group" id="section-4631"><div class="m-button-group__wrapper"><span><a href="why-vacu/become-a-member.html" class="a-button a-button--primary js-tracker-cta"  role="link">
      Join now    </a></span></div></div>
  
</div>
  
          </div>
      

        
            </div>
    
  </div>
</section>
  
</div>
  
                      <div>





  
<section class="o-section o-section--padding-bottom--md o-section--padding-top--md" id="section-4634">
  
  

  <div class="l-container l-container--width--md">
          
  




  


<ul class="a-grid a-grid--flex a-grid--gutter--lg a-grid--referenced-content" id="section-4633">
  
  

          <li class="a-grid__item">
          <div class="m-editor m-editor--resources-header-sm">
        <div class="m-editor__wrapper">
          <h2>Membership Resources</h2>
          <p>
            <a href="learn.html" aria-label="see more resources">See More Resources</a>
          </p>
        </div>
      </div>
      </li>
  <li class="a-grid__item">
          








<article class="m-card m-card--resource">
  
  

  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

        
                  





  <h2 class="a-heading m-card__heading">
    <a href="help/membership/membership-faqs.html">Membership FAQs</a>
  </h2>

                                      <div class="m-card__summary m-editor">      Frequently asked questions about membership.
  </div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

      </li>
  <li class="a-grid__item">
          








<article class="m-card m-card--resource">
  
  

  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

        
                  





  <h2 class="a-heading m-card__heading">
    <a href="help/membership/member-number-and-account-number.html">Member Number &amp; Account Number</a>
  </h2>

                                      <div class="m-card__summary m-editor">      What&#039;s the difference between your member number and your account number?
  </div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

      </li>
  <li class="a-grid__item">
          








<article class="m-card m-card--resource">
  
  

  
  <div class="m-card__content u-text--align--left">

    <div class="l-inner">

            
      <div class="m-card__body">

        
                  





  <h2 class="a-heading m-card__heading">
    <a href="help/membership/credit-union-faqs.html">Credit Union FAQs</a>
  </h2>

                                      <div class="m-card__summary m-editor">      Frequently asked questions about credit unions.
  </div>
                  
      </div>
              <div class="m-card__footer">
          <div class="l-inner">
                          
                <div class="m-button-group"><div class="m-button-group__wrapper"></div></div>

                
                                  <span class="m-card__arrow" aria-label="Read More about ">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right arrow-icon" viewbox="0 0 448 512">
                      <path class="arrow-icon--arrow" fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"/>
                    </svg>
                  </span>
                                                    </div>
        </div>
          </div>

  </div>
</article>

      </li>

    </ul>


    </div>
</section>
</div>
  
          </div>
      

          </div>

</article>

  </div>


          </div>
        
      </div>

    </main>
  </section>
{% endblock %}