.omit1 {
    background: rgba(0, 0, 0, 0.1);
}

.omit2 {
    background: rgba(0, 0, 0, 0.2);
}

.omit3 {
    background: rgba(0, 0, 0, 0.3);
}

.omit4 {
    background: rgba(0, 0, 0, 0.4);
}

.omit5 {
    background: rgba(0, 0, 0, 0.5);
}

.omit6 {
    background: rgba(0, 0, 0, 0.6);
}

.omit7 {
    background: rgba(0, 0, 0, 0.7);
}

.omit8 {
    background: rgba(0, 0, 0, 0.8);
}

.omit9 {
    background: rgba(0, 0, 0, 0.9);
}

.shadowBlack {
    box-shadow: 2px 2px 11px black
}

.shadowGreen {
    box-shadow: 2px 2px 11px green
}

.shadowBlue {
    box-shadow: 2px 2px 11px #75b3e759
}

.shadowWhite {
    box-shadow: 2px 2px 11px white
}
.message-box{
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px;
    z-index: 3;
    width: 100%;
}
.error-text{
    display: inline-block;
    font-size: 14px;
    list-style: none;
    color: rgb(183, 31, 31)!important;
}
.alert-error{
    background-color: rgb(246, 118, 118);
    color: white;
}
.popup-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 3;
}
.hidden{
    display: none;
}
.popup-modal{
    background-color: white;
    z-index: 4;
}

.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    
}
.video-container video{
    min-width: 100%;
    height: auto;
}
.video-container .casing{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(17, 62, 134, 0.593);
}
.form-box{
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box .card{
    width: 60%;
}